.dialog_layout_control.el-dialog__wrapper {
  .el-dialog {
    .el-dialog__header {
      border-bottom: 1px #E8E8E8 solid;

      .el-dialog__title {
        font-size: 18px;
        font-weight: bold;
        color: #1F2329;
      }
    }

    .el-dialog__body {
      padding: 0px;

      .el-scrollbar {
        padding: 0 20px;

        .el-scrollbar__wrap {
          margin: 0 !important;
        }

        ::-webkit-scrollbar {
          width: 0;
          height: 0;
          top: 0;
        }
      }

      .is-required {
        .el-form-item__label::before {
          content: '';
        }

        .el-form-item__label:after {
          content: '*';
          color: #F56C6C;
          margin-left: 4px;
        }
      }

      .el-form-item {
        margin-bottom: 10px;

        .el-form-item__label {
          display: block;
          width: 100% !important;
          text-align: left;
          height: 28px;
          font-size: 14px;
          color: #333333;
          font-weight: 600;
        }

        .el-form-item__content {
          margin-left: 0 !important;

          .el-input-number {
            width: 100%;

            .el-input__inner {
              text-align: left;
            }
          }

          .el-input {
            height: 32px;

            .el-input__inner {
              height: 32px;
              line-height: 32px;
            }
          }

          .el-select {
            width: 100%;

            .el-input__suffix {
              height: 40px;
              line-height: 40px;
            }
          }

          .el-cascader {
            width: 100%;
          }

          .el-col-2 {
            text-align: center;
          }

          .el-textarea {
            margin-top: 5px;
          }
        }
      }

      .el-form-item--small {
        .el-form-item__content {
          .el-select {
            .el-input__suffix {
              height: 32px;
              line-height: 32px;
            }
          }
        }
      }
    }

    .el-dialog__footer {
      .el-button {
        padding: 9px 15px;
        font-size: 12px;
      }
    }
  }
}

.dialogBodyOne_area {
  margin: 0;

  .el-form-item {
    width: 100%;
    display: block;
    margin: 0;
  }
}

.dialogBodyTwo_area {
  margin-left: -15px;

  .el-form-item {
    width: calc(50% - 15px);
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;

    .el-col {
      .el-form-item {
        width: 100%;
        display: block;
        margin: 0;
      }
    }
  }
}
