.elevation-4 {
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .1);
}

/*.elevation-6 {
  box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);
}*/

.elevation-3 {
  box-shadow: 0 -1px 3px -1px rgba(0, 0, 0, .12);
}

/*h-shadow v-shadow blur spread color inset;*/
/*10px 10px 100px #500606*/
/* 向右偏移 下偏移 扩展的模糊区域 阴影大小 背景色*/
.elevation-top {
  box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, .12);
}

.elevation-bottom {
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .1);
}

.shadow-b{
  border-bottom: 1px solid rgba(60, 60, 67, .12);
  /*box-shadow: 0 1px 5px -1px rgba(60, 60, 67, .12);*/
}

.elevation-right {
  box-shadow: 3px 0 3px -3px rgba(0, 0, 0, .12);
}
