.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-ellipsis2 {
  display: -webkit-box; //盒子模型
  -webkit-box-orient: vertical; //元素的排列方式，垂直居中
  -webkit-line-clamp: 2; //设置行数，2行显示
  overflow: hidden; //隐藏溢出内容
  text-overflow: ellipsis; //超出的内容显示省略号
}


.text-ellipsis3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
