// space
$space-mn: 3px;
$space-xs: 5px;
$space-sm: 10px;
$space-smm: 15px;
$space-df: 20px;
// mini，小，默认、大
//横向
$box-x-mn: $space-xs;
$box-x-sm: $space-sm;
$box-x-df: $space-smm;
$box-x-md: $space-df;

//纵向
$box-y-mn: $space-mn;
$box-y-sm: $space-xs;
$box-y-df: $space-sm;
$box-y-md: $space-smm;

$box-mn: $box-y-mn $box-x-mn;
$box-sm: $box-y-sm $box-x-sm;
$box-df: $box-y-df $box-x-df;
$box-md: $box-y-md $box-x-md;

$box-map: (
        mn: $box-mn,
        sm: $box-sm,
        df: $box-df,
        md: $box-md
);

@mixin box-size($size) {
  padding: map-get($box-map, #{$size});
}
