$text-none: 0;
$text-nn: 12px;
$text-mn: 12px;
$text-mnn: 12px;
$text-xs: 12px;
$text-xss: 12px;
$text-sm: 12px;
$text-ssm: 12px;
$text-smm: 13px;
$text-df: 14px;
$text-dff: 15px;
$text-md: 16px;
$text-mdd: 17px;
$text-lg: 18px;
$text-lgg: 19px;
$text-xl: 20px;
$text-xxl: 22px;
$text-sl: 24px;
$text-sxl: 26px;
$text-ssl: 30px;
