.cursor-pointer {
  /*悬浮时变手指*/
  cursor: pointer;
}

.cursor-crosshair {
  /*悬浮时变手指*/
  cursor: crosshair;
}

.cursor-move {
  /*悬浮时变手指*/
  cursor: move;
}

.cursor-move {
  /*悬浮时变手指*/
  cursor: move;
}

.cursor-default {
  /*悬浮时变手指*/
  cursor: default;
}

.cursor-none {
  /*悬浮时变手指*/
  cursor: none;
}

.cursor-not-allowed {
  /*悬浮时变手指*/
  cursor: not-allowed;
}

.cursor-n-resize {
  /*悬浮时变手指*/
  cursor: n-resize;
}

.cursor-e-resize {
  /*悬浮时变手指*/
  cursor: e-resize;
}

.select-none {
  /*禁止选中变蓝*/
  user-select: none;
}
