
//遮罩
//吸顶1000
.modal-index {
  z-index: 1003 !important;
}

.popup-bg-index {
  z-index: 999 !important;
}

.popup-index{
  z-index: 1005 !important;
}

//吸顶
.nav-index {
  z-index: 991 !important;
}

.tab-index {
  z-index: 990 !important;
}

//吸顶
.sticky-index {
  z-index: 1 !important;
}

//999为h5原生
.fixed-index {
  z-index: 10 !important;
}

.index--999 {
  z-index: -999 !important;
}

.index--2 {
  z-index: -2 !important;
}

.index--1 {
  z-index: -1 !important;
}

.index-0 {
  z-index: 0 !important;
}

.index-xs {
  z-index: 1 !important;
}

.index-sm {
  z-index: 2 !important;
}

.index-df {
  z-index: 3 !important;
}

.index-lg {
  z-index: 4 !important;
}

.index-999 {
  z-index: 999 !important;
}

.index-1000 {
  z-index: 1000 !important;
}

.index-1005 {
  z-index: 1005 !important;
}

.index-2000 {
  z-index: 2000 !important;
}

.index-9999 {
  z-index: 9999 !important;
}
