<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.socialuni.sdk.dao.mapper.TalkMapper">
    <select id="queryTalkIdsByAndTag" resultType="java.lang.Integer">
        SELECT t.union_id FROM s_talk t,s_talk_tag tt WHERE t.union_id = tt.talk_id
        AND tt.tag_id in
        <foreach item="item" index="index" collection="tagIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryTalkIdsByAndCircle" resultType="java.lang.Integer">
        SELECT t.union_id FROM s_talk t,s_talk_circle tc WHERE t.union_id = tc.talk_id AND tc.circle_id = #{circleId}
    </select>

    <select id="queryTalkIdsByAndUserExpand" resultType="java.lang.Integer">
        SELECT t.union_id FROM s_talk t,s_user_expand ue WHERE t.user_id = ue.user_id AND ue.school_name is not null
    </select>

    <select id="queryMineTalkIdsByCom" resultType="java.lang.Integer">
        SELECT t.union_id FROM s_talk t WHERE t.user_id=#{userId}
        and t.status in
        <foreach item="item" index="index" collection="statusList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryTalkIdsByAndUser" resultType="java.lang.Integer">
        SELECT t.union_id
        FROM
        s_talk t,`s_user` u
        WHERE
        t.user_id = u.union_id
        and t.global_top = 0
        and (t.status = #{status})
        <!--    校验发布专属动态的用户性别必须与talk性别一致，才能显示-->
        <!--    规则1， 动态 and talkdovi = 'all' 或者 动态dovi = talkusergender 这个校验，有了下面就不需要校验 用户性别了-->
        and (t.visible_gender = 'all' or u.gender = t.visible_gender)
        and u.age between #{minAge} and #{maxAge}
        <!--    筛选女生、男生发布的、不筛选值为null-->
        <if test="talkUserGender!=null">
            and u.gender = #{talkUserGender}
        </if>
        <if test="adCode!=null">
            and t.ad_code like concat(#{adCode}, '%')
        </if>
        <choose>
            <!--    默认查全网可见的-->
            <!--    如果应用id不为空，则也差应用自己的-->
            <when test="devId == null">
                and t.visible_type = 'fullNetwork'
            </when>
            <otherwise>
                and (t.visible_type = 'fullNetwork' or (t.dev_id = #{devId} and t.visible_type = 'selfSoft'))
            </otherwise>
        </choose>
        <choose>
            <!--    如果为全部，则显示全部的，和性别一致的。 如果筛选专属，则不为all，走or，则筛选的是性别一致的，所以判断没问题-->
            <!--    只有全部走前面逻辑，其他都走后面的逻辑，需要为这么写，只有为全部的时候才需要判断，这俩一致，都为全部，其他情况就是展示和用户性别一致的专属动态-->
            <when test="talkVisibleGender == 'all'">
                and (t.visible_gender = 'all'
                <if test="mineUserGender!=null">
                    or t.visible_gender = #{mineUserGender}
                </if>
                )
            </when>
            <otherwise>
                <if test="mineUserGender!=null">
                    and t.visible_gender = #{mineUserGender}
                </if>
            </otherwise>
        </choose>
        <if test="queryTime!=null">
            AND t.update_time &lt; #{queryTime}
        </if>
        order by t.update_time desc
    </select>

    <!--<select id="queryTalkIdsByCom" resultType="java.lang.Integer">
        SELECT t.union_id
        FROM
        s_talk t,
        <if test="tagIds!=null and tagIds.size()>0">
            s_talk_tag tt,
        </if>
        <if test="circleId!=null">
            s_talk_circle tc,
        </if>
        `s_user` u
        WHERE
        t.user_id = u.union_id
        and t.global_top = 0
        and
        (
        (t.status = #{status})
        &lt;!&ndash;or
        (
        u.id = #{mineUserId}
        and t.status in
        <foreach item="item" index="index" collection="mineTalkStatus"
                 open="(" separator="," close=")">#{item}
        </foreach>
        )&ndash;&gt;
        )
        &lt;!&ndash;    校验发布专属动态的用户性别必须与talk性别一致，才能显示&ndash;&gt;
        &lt;!&ndash;    规则1， 动态 and talkdovi = 'all' 或者 动态dovi = talkusergender 这个校验，有了下面就不需要校验 用户性别了&ndash;&gt;
        and (t.visible_gender = 'all' or u.gender = t.visible_gender)
        and u.age between #{minAge} and #{maxAge}
        &lt;!&ndash;    筛选女生、男生发布的、不筛选值为null&ndash;&gt;
        <if test="talkUserGender!=null">
            and u.gender = #{talkUserGender}
        </if>
        <if test="adCode!=null">
            and t.ad_code like concat(#{adCode}, '%')
        </if>
        <if test="circleId!=null">
            AND t.union_id = tc.talk_id
            AND tc.circle_id = #{circleId}
        </if>
        <choose>
            &lt;!&ndash;    默认查全网可见的&ndash;&gt;
            &lt;!&ndash;    如果应用id不为空，则也差应用自己的&ndash;&gt;
            <when test="devId == null">
                and t.visible_type = 'fullNetwork'
            </when>
            <otherwise>
                and (t.visible_type = 'fullNetwork' or (t.dev_id = #{devId} and t.visible_type = 'selfSoft'))
            </otherwise>
        </choose>
        <choose>
            &lt;!&ndash;    如果为全部，则显示全部的，和性别一致的。 如果筛选专属，则不为all，走or，则筛选的是性别一致的，所以判断没问题&ndash;&gt;
            &lt;!&ndash;    只有全部走前面逻辑，其他都走后面的逻辑，需要为这么写，只有为全部的时候才需要判断，这俩一致，都为全部，其他情况就是展示和用户性别一致的专属动态&ndash;&gt;
            <when test="talkVisibleGender == 'all'">
                and (t.visible_gender = 'all'
                <if test="mineUserGender!=null">
                    or t.visible_gender = #{mineUserGender}
                </if>
                )
            </when>
            <otherwise>
                <if test="mineUserGender!=null">
                    and t.visible_gender = #{mineUserGender}
                </if>
            </otherwise>
        </choose>
        <if test="tagIds!=null and tagIds.size()>0">
            AND t.union_id = tt.talk_id
            and tt.tag_id in
            <foreach item="item" index="index" collection="tagIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="hasPeopleImgTalkNeedIdentity != null">
            AND (t.has_people_img = false or (t.has_people_img = true and t.identity_auth = true))
        </if>
        &lt;!&ndash;        <if test="queryTime!=null">
                    AND t.update_time &lt; #{queryTime}
                </if>&ndash;&gt;
        group by t.union_id
        order by t.union_id desc limit 1000
    </select>-->
</mapper>


