<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.socialuni.social.sdk.dao.mapper.TalkTagMapper">
    <!--        SELECT DISTINCT ttg.talk_id-->
    <select id="queryTagTalkIdsByCom" resultType="java.lang.Integer">
        SELECT ttg.talk_id
        FROM
        s_tag tg,s_talk_tag ttg
        WHERE
        ttg.tag_id = tg.id
        <if test="tagIds!=null and tagIds.size()>0">
            and tg.id in
            <foreach item="item" index="index" collection="tagIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by ttg.talk_id
    </select>
</mapper>


        <!--  &#45;&#45;             //筛选女生、男生发布的、不筛选值为null
          and (:talkUserGender is null or u.gender = :talkUserGender)
          &#45;&#45;             //规则1， 动态   and   talkdovi = 'all' 或者 动态dovi = talkusergender 这个校验，有了下面就不需要校验 用户性别了
          &#45;&#45;             //校验发布专属动态的用户性别必须与talk性别一致，才能显示
          and (t.visible_gender = 'all' or u.gender = t.visible_gender)
          and u.age between :minAge and :maxAge
          and (t.status = :status)
          and (:adCode is null or t.ad_code like concat(:adCode, '%'))
          and (:devId is null or t.visible_type = 'fullNetwork' or (t.visible_type = 'selfSoft' and t.dev_id = :devId))
          &#45;&#45;             //如果为全部，则显示全部的，和性别一致的。 如果筛选专属，则不为all，走or，则筛选的是性别一致的，所以判断没问题
          &#45;&#45;             //只有全部走前面逻辑，其他都走后面的逻辑，需要为这么写，只有为全部的时候才需要判断，这俩一致，都为全部，其他情况就是展示和用户性别一致的专属动态
          and ((:talkVisibleGender = 'all' and t.visible_gender = 'all') or
          (:mineUserGender is null or t.visible_gender = :mineUserGender))-->