$color-theme: #fad83d;
//$color-theme: #fad33d;
@import "../uni";
@import "socialuni-ui-uni/src/styles/index";
@import "./app";

.bg-home {
  //background-image: linear-gradient(180deg, #ffdf39,  #ffdf39 10%, #f7f7f7);
  background-image: linear-gradient(225deg, #fcf5be, #fdfcea);
}

.bg-home1 {
  background-image: linear-gradient(180deg, $color-theme, mix($color-white, $color-theme, 20%) 10%, mix($color-white, $color-theme, 90%) 25%, $color-bg-default);
}

.bg-home2 {
  background-image: linear-gradient(180deg, $color-theme, mix($color-white, $color-theme, 20%), $color-bg-default);
}
