// space
$space-none: 0;
$space-nn: 2px;
$space-mn: 3px;
$space-mnn: 4px;
$space-xs: 5px;
$space-xss: 8px;
$space-sm: 10px;
$space-ssm: 12px;
$space-smm: 15px;
$space-df: 20px;
$space-dff: 25px;
$space-md: 30px;
$space-mdd: 35px;
$space-lg: 40px;
$space-lgg: 45px;
$space-xl: 50px;
$space-xxl: 60px;
$space-sl: 70px;
$space-sxl: 80px;
$space-ssl: 90px;
$space-hun: 100px;
// mini，小，默认、大
//横向
$box-x-mn: $space-xs;
$box-x-sm: $space-sm;
$box-x-df: $space-smm;
$box-x-md: $space-df;

//纵向
$box-y-mn: $space-mn;
$box-y-sm: $space-xs;
$box-y-df: $space-sm;
$box-y-md: $space-smm;

$box-mn: $box-y-mn $box-x-mn;
$box-sm: $box-y-sm $box-x-sm;
$box-df: $box-y-df $box-x-df;
$box-md: $box-y-md $box-x-md;

$box-map: (
        mn: $box-mn,
        sm: $box-sm,
        df: $box-df,
        md: $box-md
);

$padding-map: (
        none: $space-none,
        nn: $space-nn,
        mn: $space-mn,
        mnn: $space-mnn,
        xs: $space-xs,
        xss: $space-xss,
        sm: $space-sm,
        ssm: $space-ssm,
        smm: $space-smm,
        df: $space-df,
        dff: $space-dff,
        md: $space-md,
        mdd: $space-mdd,
        lg: $space-lg,
        lgg: $space-lgg,
        xl: $space-xl,
        xxl: $space-xxl,
        sl: $space-sl,
        sxl: $space-sxl,
        ssl: $space-ssl
);
$text-map: (
        none: $text-none,
        nn: $text-nn,
        mn: $text-mn,
        mnn: $text-mnn,
        xs: $text-xs,
        xss: $text-xss,
        sm: $text-sm,
        ssm: $text-ssm,
        smm: $text-smm,
        df: $text-df,
        dff: $text-dff,
        md: $text-md,
        mdd: $text-mdd,
        lg: $text-lg,
        lgg: $text-lgg,
        xl: $text-xl,
        xxl: $text-xxl,
        sl: $text-sl,
        sxl: $text-sxl,
        ssl: $text-ssl
);

$size-map: (
        none: none,
        nn: nn,
        mn: mn,
        mnn: mnn,
        xs: xs,
        xss: xss,
        sm: sm,
        ssm: ssm,
        smm: smm,
        df: df,
        dff: dff,
        md: md,
        mdd: mdd,
        lg: lg,
        lgg: lgg,
        xl: xl,
        xxl: xxl,
        sl: sl,
        sxl: sxl,
        ssl: ssl
);
$direction-map: (
        t:top,
        b:bottom,
        l:left,
        r:right,
);

$direction-com-map: (
        tl:top-left,
        tr:top-right,
        bl:bottom-left,
        br:bottom-right,
);

