//生成padding
.pd {
  padding: map-get($padding-map, df) !important;
}

@each $directionKey, $directionValue in $direction-map {
  .p#{$directionKey} {
    padding-#{$directionValue}: map-get($padding-map, df) !important;
  }
}

.px {
  padding-left: map-get($padding-map, df) !important;
  padding-right: map-get($padding-map, df) !important;
}

.py {
  padding-top: map-get($padding-map, df) !important;
  padding-bottom: map-get($padding-map, df) !important;
}

//生成margin
.mg {
  padding: map-get($padding-map, df) !important;
}

@each $directionKey, $directionValue in $direction-map {
  .m#{$directionKey} {
    margin-#{$directionValue}: map-get($padding-map, df) !important;
  }
}

.mx {
  margin-left: map-get($padding-map, df) !important;
  margin-right: map-get($padding-map, df) !important;
}

.my {
  margin-top: map-get($padding-map, df) !important;
  margin-bottom: map-get($padding-map, df) !important;
}

//生成字体大小和padding和margin
@each $sizeKey, $sizeValue in $size-map {
  .pd-#{$sizeKey} {
    padding: map-get($padding-map, $sizeKey) !important;
  }
  @each $directionKey, $directionValue in $direction-map {
    .p#{$directionKey}-#{$sizeKey} {
      padding-#{$directionValue}: map-get($padding-map, $sizeKey) !important;
    }
  }
  .px-#{$sizeKey} {
    padding-left: map-get($padding-map, $sizeKey) !important;
    padding-right: map-get($padding-map, $sizeKey) !important;
  }
  .py-#{$sizeKey} {
    padding-top: map-get($padding-map, $sizeKey) !important;
    padding-bottom: map-get($padding-map, $sizeKey) !important;
  }

  .mg-#{$sizeKey} {
    margin: map-get($padding-map, $sizeKey) !important;
  }

  @each $directionKey, $directionValue in $direction-map {
    .m#{$directionKey}-#{$sizeKey} {
      margin-#{$directionValue}: map-get($padding-map, $sizeKey) !important;
    }
  }

  .mx-#{$sizeKey} {
    margin-left: map-get($padding-map, $sizeKey) !important;
    margin-right: map-get($padding-map, $sizeKey) !important;
  }
  .my-#{$sizeKey} {
    margin-top: map-get($padding-map, $sizeKey) !important;
    margin-bottom: map-get($padding-map, $sizeKey) !important;
  }
}
