//生成字体大小和padding和margin
@each $sizeKey, $sizeValue in $size-map {
  .text-#{$sizeKey} {
    font-size: map-get($text-map, $sizeKey);
  }
}

@each $colorKey, $color in $text-colors {
  .text-#{''+$colorKey+''} {
    color: $color;
  }
}

@for $index from 1 through 100 {
  .text-#{$index} {
    font-size: #{$index}px;
  }
}

.text-link:hover {
  @extend .text-hover
}

.text-link:focus {
  @extend .text-focus
}

.text-link:active {
  @extend .text-active
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}
