.border-none {
  border: none;
}

.border-dashed {
  border: 1px dashed black;
}


.border-black {
  border: 1px solid #000000;
}


.border-white {
  border: 1px solid #FFFFFF;
}


.border-transparent {
  border: 1px solid transparent;
}


.border-red {
  border: 1px solid #F44336;
}


.border-pink {
  border: 1px solid #E91E63;
}


.border-purple {
  border: 1px solid #9C27B0;
}


.border-deep-purple {
  border: 1px solid #673AB7;
}


.border-indigo {
  border: 1px solid #3F51B5;
}


.border-blue {
  border: 1px solid #2196F3;
}


.border-blue-light {
  border: 1px solid #42A5F5;
}


.border-blue-dark {
  border: 1px solid #1E88E5;
}


.border-light-blue {
  border: 1px solid #03A9F4;
}


.border-cyan {
  border: 1px solid #00BCD4;
}


.border-teal {
  border: 1px solid #009688;
}


.border-green {
  border: 1px solid #4CAF50;
}


.border-green-light {
  border: 1px solid #66BB6A;
}


.border-green-dark {
  border: 1px solid #43A047;
}


.border-light-green {
  border: 1px solid #8BC34A;
}


.border-lime {
  border: 1px solid #CDDC39;
}


.border-yellow {
  border: 1px solid #FFEB3B;
}


.border-amber {
  border: 1px solid #FFC107;
}


.border-orange {
  border: 1px solid #FF9800;
}


.border-orange-light {
  border: 1px solid #FFA726;
}


.border-orange-dark {
  border: 1px solid #FB8C00;
}


.border-deep-orange {
  border: 1px solid #FF5722;
}


.border-brown {
  border: 1px solid #795548;
}


.border-blue-grey {
  border: 1px solid #607D8B;
}


.border-grey {
  border: 1px solid #e9eaf2;
}
