#忽略所有.svn目录
.svn
#忽略所有target目录
target
#忽略前端node_modules
node_modules
#忽略所有.idea目录
.idea
#忽略所有.iml文件
*.iml
#忽略本地文件
application-qkylocal.yml
#忽略生产文件
application-prod.yml
application-devprod.yml
application-localdevprod.yml
application-localprod.yml
application-qingchi.yml
application-qkypc.yml
application-localpre.yml
*.log