#忽略所有.svn目录
.svn
#忽略所有target目录
target
#忽略前端node_modules
node_modules
#忽略所有.idea目录
.idea
#忽略所有.iml文件
*.iml
#忽略本地文件
application-qkylocal.yml
application-local.yml
#忽略生产文件
application-prod.yml
application-devprod.yml
application-localdevprod.yml
application-localprod.yml
application-qingchi.yml
application-schooldev.yml
application-qkypc.yml
application-localpre.yml
*.log
/socialuni-center-web/src/main/resources/application-localpre.yml






###########################
##     共用的排除。
######################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar




#################################################################################
##      gradle::
#################################################################################

.gradle
/build/

### Ignore Gradle GUI config   ###
gradle-app.setting

###
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
###

!gradle-wrapper.jar

### Cache of project   ###
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.metadata
RemoteSystemsTempFiles
.gradle
.settings
build

.project




#################################################################################
##      java Editor directories and files::
#################################################################################


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
build.xml


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### other   ###
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

#################################################################################
##      java::
#################################################################################

*.class


### maven  ###
target
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### spring-boot-log   ###
*.gz
*.tmp
*.log
*.log.lck
*.log.*

#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**
#!**/src/test/**




#################################################################################
##      pd::
#################################################################################
*.pdb
# mybatis-generator.xml
*.db




##################################################################################
#			前端:
##################################################################################




.DS_Store
node_modules/
dist/
package-lock.json


### npm  ###
npm-debug.log*

### yarn ###
yarn-debug.log*
yarn-error.log*
yarn.lock

### test:  ###
tests/**/coverage/
tests/e2e/reports


### log ###
selenium-debug.log
**/*.log

### VS Code ###
.vscode/
