.chunk {
  background: $color-white;
  border: $border-base;
  color: $color-content;
  @extend .bd-radius;
}

@each $key, $color in $colors-bg {
  .chunk-#{''+$key+''} {
    //深色主题，字体白色，其他主题色
    color: $color-white;
    background-color: $color;
    border: $border-base;
    border-color: $color;
    @extend .bd-radius;
  }
  .chunk-#{''+$key+''}_plain {
    //朴素主题，字体白色，其他主题色
    color: $color;
    background-color: $color-white;
    border: $border-base;
    border-color: $color;
    @extend .bd-radius;
  }
  .chunk-#{''+$key+''}_light {
    //深色主题，字体白色，其他主题色
    color: $color;
    background-color: mix($color, $color-white, 10%);
    border: $border-base;
    border-color: mix($color, $color-white, 20%);
    @extend .bd-radius;
  }
}


