$color-grey1: #141414;
$color-grey2: #1f2329;
$color-grey3: #282f3d;
$color-grey4: #333333;
$color-grey5: #434343;
$color-grey6: #666666;
$color-grey7: #999999;
$color-grey8: #bfbfbf;
$color-grey9: #d9d9d9;
$color-grey10: #f0f0f0;
$color-grey11: #f5f5f5;

$color-grey: $color-grey3;
$color-grey-light: $color-grey8;

$colors-grey: (
        grey:$color-grey,
        grey1:$color-grey1,
        grey2:$color-grey2,
        grey3:$color-grey3,
        grey4:$color-grey4,
        grey5:$color-grey5,
        grey6:$color-grey6,
        grey7:$color-grey7,
        grey8:$color-grey8,
        grey9:$color-grey9,
        grey10:$color-grey10,
        grey11:$color-grey11,
        grey-light:$color-grey-light,
);
