.index--999 {
  z-index: -999 !important;
}

.index--2 {
  z-index: -2 !important;
}

.index--1 {
  z-index: -1 !important;
}

.index-0 {
  z-index: 0 !important;
}

.index-xs {
  z-index: 1 !important;
}

.index-sm {
  z-index: 2 !important;
}

.index-df {
  z-index: 3 !important;
}

.index-lg {
  z-index: 4 !important;
}

.index-1000 {
  z-index: 1000 !important;
}

.index-2000 {
  z-index: 2000 !important;
}

.index-9999 {
  z-index: 9999 !important;
}
