.chunk {
  background: $color-white;
  border: $border-base;
  color: $color-main;
}

@each $key, $color in $colors-bg {
  .chunk-#{''+$key+''} {
    //深色主题，字体白色，其他主题色
    color: $color-white;
    background-color: $color;
  }
  .chunk-#{''+$key+''}-plain {
    //深色主题，字体白色，其他主题色
    background-color: $color;
    border: $border-base;
    border-color: $color;
  }
  .chunk-#{''+$key+''}-light {
    //深色主题，字体白色，其他主题色
    background-color: $color;
    background: mix($color-white, $color, 90%);
  }
}

