@each $colorKey, $color in $colors-font {
  .color-#{''+$colorKey+''} {
    color: $color;
  }
  .color-#{''+$colorKey+''}_light {
    //深色主题，字体白色，其他主题色
    color: mix($color-white, $color, 90%);
  }
  .color-#{''+$colorKey+''}_dark {
    //深色主题，字体白色，其他主题色
    color: mix($color-black, $color, 10%);
  }
}

.color-link {
  @extend .bg-click;
}
