$padding-map: (
  none: $space-none,
  nn: $space-nn,
  mn: $space-mn,
  mnn: $space-mnn,
  xs: $space-xs,
  xss: $space-xss,
  sm: $space-sm,
  ssm: $space-ssm,
  smm: $space-smm,
  df: $space-df,
);
$text-map: (
        none: $text-none,
        nn: $text-nn,
        mn: $text-mn,
        mnn: $text-mnn,
        xs: $text-xs,
        xss: $text-xss,
        sm: $text-sm,
        ssm: $text-ssm,
        smm: $text-smm,
        df: $text-df,
        dff: $text-dff,
        md: $text-md,
        mdd: $text-mdd,
        lg: $text-lg,
        lgg: $text-lgg,
        xl: $text-xl,
        xxl: $text-xxl,
        sl: $text-sl,
        sxl: $text-sxl,
        ssl: $text-ssl
);

$size-map: (
  none: none,
  nn: nn,
  mn: mn,
  mnn: mnn,
  xs: xs,
  xss: xss,
  sm: sm,
  ssm: ssm,
  smm: smm,
  df: df,
  dff: dff,
  md: md,
  mdd: mdd,
  lg: lg,
  lgg: lgg,
  xl: xl,
  xxl: xxl,
  sl: sl,
  sxl: sxl,
  ssl: ssl
);
$direction-map: (
  t:top,
  b:bottom,
  l:left,
  r:right,
);

$direction-com-map: (
  tl:top-left,
  tr:top-right,
  bl:bottom-left,
  br:bottom-right,
);

