$yy-btn-color: #C50F1A !default;
$yy-color-white: #FFFFFF !default;
$yy-color-black: #000000 !default;

.yy-btn {
  background: $yy-btn-color;
  color: #FFFFFF;
  border: 1px solid $yy-btn-color;

  &:hover,
  &:focus {
    color: #FFFFFF;
    background-color: mix($yy-color-white, $yy-btn-color, 20%);
    border-color: mix($yy-color-white, $yy-btn-color, 20%);
  }

  &:active {
    color: #FFFFFF;
    background-color: mix($yy-color-black, $yy-btn-color, 10%);
    border-color: mix($yy-color-black, $yy-btn-color, 10%);
  }

  &.is-disabled {
    cursor: not-allowed;
    background-image: none;
    color: #FFFFFF;
    background: $yy-btn-color;
    border: 1px solid $yy-btn-color;
    opacity: 0.5;

    &:hover,
    &:focus {
      color: #FFFFFF;
      background: $yy-btn-color;
      border: 1px solid $yy-btn-color;
    }
  }
}

#table_layout_control {
  .caozuo {
    height: 33px;
    margin-left: 10px;

    .el-button-group > .el-button:not(:last-child), .el-button-group > .el-button:last-child {
      background: $yy-btn-color;
      color: white;
      border: 1px solid $yy-btn-color;
    }

    .el-dropdown__caret-button {
      padding: 9px 5px;
    }
  }

  .el-pagination {
    padding-right: 0;
  }

  .input-with-select {
    .el-input-group__prepend {
      padding-right: 0;
    }

    .el-input__inner {
      padding-left: 0;
    }

    .el-select {
      margin-right: 0;
      /*&:after{
        content: '：';
        width: 1px;
        position: absolute;
        right: 0;
        top: 23%;
      }*/
      .el-input--suffix .el-input__inner {
        padding-left: 35px;
      }

      .el-input__inner {
        padding-right: 0;
      }

      .el-input__suffix {
        left: 5px;
        right: unset;
      }
    }

    .el-input__inner {
      border-left: none;
    }

    > .el-input__inner:focus {
      border-color: #e4e7ed;
    }

    > .el-input__inner:hover {
      border-color: #e4e7ed;
    }
  }
}


.el-message-box .el-message-box__btns .el-button--primary {
  border: 1px solid #C50F1A !important;
  background: #C50F1A !important;
  color: white !important;
}

.el-select.bd-none .el-input__inner {
  border: none;
  padding-left: 5px;
  @extend .color-main;
  font-size: 14px;
}

.el-input.bd-none .el-input__inner {
  border: none;
  padding-left: 5px;
  @extend .color-main;
  font-size: 14px;
}

.el-select.left-arrow .el-input__suffix {
  left: 5px;
  right: unset;
}

.el-select.left-arrow .el-input__inner {
  padding-left: 35px;
  padding-right: 0;
}

.el-select.hide-suffix .el-input__suffix {
  display: none;
}

.yoyo-form.el-form--label-top .el-form-item__label {
  padding: 0;
  height: 28px;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
}

.yoyo-form .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 15px;
}

.yoyo-tree {
  .el-tree-node__expand-icon {
    display: none;
  }

  .el-tree-node:focus > .el-tree-node__content {
    background-color: transparent;
  }

  .el-tree-node:hover > .el-tree-node__content {
    background-color: transparent;
  }

  .el-tree-node__content {
    height: auto;
  }
}


.el-form {
  .el-form-item.is-required {
    .el-form-item__label::before {
      content: '';
    }

    .el-form-item__label:after {
      content: '*';
      color: #F56C6C;
      margin-left: 4px;
    }
  }
}
