$text-none: 0;
$text-nn: 6px;
$text-mn: 8px;
$text-mnn: 9px;
$text-xs: 10px;
$text-xss: 11px;
$text-sm: 12px;
$text-ssm: 12px;
$text-smm: 13px;
$text-df: 14px;
$text-dff: 15px;
$text-md: 16px;
$text-mdd: 17px;
$text-lg: 18px;
$text-lgg: 19px;
$text-xl: 20px;
$text-xxl: 22px;
$text-sl: 24px;
$text-sxl: 26px;
$text-ssl: 30px;

$text-map: (
        none: $text-none,
        nn: $text-nn,
        mn: $text-mn,
        mnn: $text-mnn,
        xs: $text-xs,
        xss: $text-xss,
        sm: $text-sm,
        ssm: $text-ssm,
        smm: $text-smm,
        df: $text-df,
        dff: $text-dff,
        md: $text-md,
        mdd: $text-mdd,
        lg: $text-lg,
        lgg: $text-lgg,
        xl: $text-xl,
        xxl: $text-xxl,
        sl: $text-sl,
        sxl: $text-sxl,
        ssl: $text-ssl
);
