.pr-0 {
  padding-right: 0 !important;
}

.pr-1vw {
  padding-right: 1vw !important;
}

.pr-2vw {
  padding-right: 2vw !important;
}

.pr-3vw {
  padding-right: 3vw !important;
}

.pr-4vw {
  padding-right: 4vw !important;
}

.pr-5vw {
  padding-right: 5vw !important;
}

.pr-6vw {
  padding-right: 6vw !important;
}

.pr-7vw {
  padding-right: 7vw !important;
}

.pr-8vw {
  padding-right: 8vw !important;
}

.pr-9vw {
  padding-right: 9vw !important;
}

.pr-10vw {
  padding-right: 10vw !important;
}

.pr-11vw {
  padding-right: 11vw !important;
}

.pr-12vw {
  padding-right: 12vw !important;
}

.pr-13vw {
  padding-right: 13vw !important;
}

.pr-14vw {
  padding-right: 14vw !important;
}

.pr-15vw {
  padding-right: 15vw !important;
}

.pr-16vw {
  padding-right: 16vw !important;
}

.pr-17vw {
  padding-right: 17vw !important;
}

.pr-18vw {
  padding-right: 18vw !important;
}

.pr-19vw {
  padding-right: 19vw !important;
}

.pr-20vw {
  padding-right: 20vw !important;
}

.pr-21vw {
  padding-right: 21vw !important;
}

.pr-22vw {
  padding-right: 22vw !important;
}

.pr-23vw {
  padding-right: 23vw !important;
}

.pr-24vw {
  padding-right: 24vw !important;
}

.pr-25vw {
  padding-right: 25vw !important;
}

.pr-26vw {
  padding-right: 26vw !important;
}

.pr-27vw {
  padding-right: 27vw !important;
}

.pr-28vw {
  padding-right: 28vw !important;
}

.pr-29vw {
  padding-right: 29vw !important;
}

.pr-30vw {
  padding-right: 30vw !important;
}

.pr-31vw {
  padding-right: 31vw !important;
}

.pr-32vw {
  padding-right: 32vw !important;
}

.pr-33vw {
  padding-right: 33vw !important;
}

.pr-34vw {
  padding-right: 34vw !important;
}

.pr-35vw {
  padding-right: 35vw !important;
}

.pr-36vw {
  padding-right: 36vw !important;
}

.pr-37vw {
  padding-right: 37vw !important;
}

.pr-38vw {
  padding-right: 38vw !important;
}

.pr-39vw {
  padding-right: 39vw !important;
}

.pr-40vw {
  padding-right: 40vw !important;
}

.pr-41vw {
  padding-right: 41vw !important;
}

.pr-42vw {
  padding-right: 42vw !important;
}

.pr-43vw {
  padding-right: 43vw !important;
}

.pr-44vw {
  padding-right: 44vw !important;
}

.pr-45vw {
  padding-right: 45vw !important;
}

.pr-46vw {
  padding-right: 46vw !important;
}

.pr-47vw {
  padding-right: 47vw !important;
}

.pr-48vw {
  padding-right: 48vw !important;
}

.pr-49vw {
  padding-right: 49vw !important;
}

.pr-50vw {
  padding-right: 50vw !important;
}

.pr-51vw {
  padding-right: 51vw !important;
}

.pr-52vw {
  padding-right: 52vw !important;
}

.pr-53vw {
  padding-right: 53vw !important;
}

.pr-54vw {
  padding-right: 54vw !important;
}

.pr-55vw {
  padding-right: 55vw !important;
}

.pr-56vw {
  padding-right: 56vw !important;
}

.pr-57vw {
  padding-right: 57vw !important;
}

.pr-58vw {
  padding-right: 58vw !important;
}

.pr-59vw {
  padding-right: 59vw !important;
}

.pr-60vw {
  padding-right: 60vw !important;
}

.pr-61vw {
  padding-right: 61vw !important;
}

.pr-62vw {
  padding-right: 62vw !important;
}

.pr-63vw {
  padding-right: 63vw !important;
}

.pr-64vw {
  padding-right: 64vw !important;
}

.pr-65vw {
  padding-right: 65vw !important;
}

.pr-66vw {
  padding-right: 66vw !important;
}

.pr-67vw {
  padding-right: 67vw !important;
}

.pr-68vw {
  padding-right: 68vw !important;
}

.pr-69vw {
  padding-right: 69vw !important;
}

.pr-70vw {
  padding-right: 70vw !important;
}

.pr-71vw {
  padding-right: 71vw !important;
}

.pr-72vw {
  padding-right: 72vw !important;
}

.pr-73vw {
  padding-right: 73vw !important;
}

.pr-74vw {
  padding-right: 74vw !important;
}

.pr-75vw {
  padding-right: 75vw !important;
}

.pr-76vw {
  padding-right: 76vw !important;
}

.pr-77vw {
  padding-right: 77vw !important;
}

.pr-78vw {
  padding-right: 78vw !important;
}

.pr-79vw {
  padding-right: 79vw !important;
}

.pr-80vw {
  padding-right: 80vw !important;
}

.pr-81vw {
  padding-right: 81vw !important;
}

.pr-82vw {
  padding-right: 82vw !important;
}

.pr-83vw {
  padding-right: 83vw !important;
}

.pr-84vw {
  padding-right: 84vw !important;
}

.pr-85vw {
  padding-right: 85vw !important;
}

.pr-86vw {
  padding-right: 86vw !important;
}

.pr-87vw {
  padding-right: 87vw !important;
}

.pr-88vw {
  padding-right: 88vw !important;
}

.pr-89vw {
  padding-right: 89vw !important;
}

.pr-90vw {
  padding-right: 90vw !important;
}

.pr-91vw {
  padding-right: 91vw !important;
}

.pr-92vw {
  padding-right: 92vw !important;
}

.pr-93vw {
  padding-right: 93vw !important;
}

.pr-94vw {
  padding-right: 94vw !important;
}

.pr-95vw {
  padding-right: 95vw !important;
}

.pr-96vw {
  padding-right: 96vw !important;
}

.pr-97vw {
  padding-right: 97vw !important;
}

.pr-98vw {
  padding-right: 98vw !important;
}

.pr-99vw {
  padding-right: 99vw !important;
}

.pr-100vw {
  padding-right: 100vw !important;
}

.pr-1p {
  padding-right: 1% !important;
}

.pr-2p {
  padding-right: 2% !important;
}

.pr-3p {
  padding-right: 3% !important;
}

.pr-4p {
  padding-right: 4% !important;
}

.pr-5p {
  padding-right: 5% !important;
}

.pr-6p {
  padding-right: 6% !important;
}

.pr-7p {
  padding-right: 7% !important;
}

.pr-8p {
  padding-right: 8% !important;
}

.pr-9p {
  padding-right: 9% !important;
}

.pr-10p {
  padding-right: 10% !important;
}

.pr-11p {
  padding-right: 11% !important;
}

.pr-12p {
  padding-right: 12% !important;
}

.pr-13p {
  padding-right: 13% !important;
}

.pr-14p {
  padding-right: 14% !important;
}

.pr-15p {
  padding-right: 15% !important;
}

.pr-16p {
  padding-right: 16% !important;
}

.pr-17p {
  padding-right: 17% !important;
}

.pr-18p {
  padding-right: 18% !important;
}

.pr-19p {
  padding-right: 19% !important;
}

.pr-20p {
  padding-right: 20% !important;
}

.pr-21p {
  padding-right: 21% !important;
}

.pr-22p {
  padding-right: 22% !important;
}

.pr-23p {
  padding-right: 23% !important;
}

.pr-24p {
  padding-right: 24% !important;
}

.pr-25p {
  padding-right: 25% !important;
}

.pr-26p {
  padding-right: 26% !important;
}

.pr-27p {
  padding-right: 27% !important;
}

.pr-28p {
  padding-right: 28% !important;
}

.pr-29p {
  padding-right: 29% !important;
}

.pr-30p {
  padding-right: 30% !important;
}

.pr-31p {
  padding-right: 31% !important;
}

.pr-32p {
  padding-right: 32% !important;
}

.pr-33p {
  padding-right: 33% !important;
}

.pr-34p {
  padding-right: 34% !important;
}

.pr-35p {
  padding-right: 35% !important;
}

.pr-36p {
  padding-right: 36% !important;
}

.pr-37p {
  padding-right: 37% !important;
}

.pr-38p {
  padding-right: 38% !important;
}

.pr-39p {
  padding-right: 39% !important;
}

.pr-40p {
  padding-right: 40% !important;
}

.pr-41p {
  padding-right: 41% !important;
}

.pr-42p {
  padding-right: 42% !important;
}

.pr-43p {
  padding-right: 43% !important;
}

.pr-44p {
  padding-right: 44% !important;
}

.pr-45p {
  padding-right: 45% !important;
}

.pr-46p {
  padding-right: 46% !important;
}

.pr-47p {
  padding-right: 47% !important;
}

.pr-48p {
  padding-right: 48% !important;
}

.pr-49p {
  padding-right: 49% !important;
}

.pr-50p {
  padding-right: 50% !important;
}

.pr-51p {
  padding-right: 51% !important;
}

.pr-52p {
  padding-right: 52% !important;
}

.pr-53p {
  padding-right: 53% !important;
}

.pr-54p {
  padding-right: 54% !important;
}

.pr-55p {
  padding-right: 55% !important;
}

.pr-56p {
  padding-right: 56% !important;
}

.pr-57p {
  padding-right: 57% !important;
}

.pr-58p {
  padding-right: 58% !important;
}

.pr-59p {
  padding-right: 59% !important;
}

.pr-60p {
  padding-right: 60% !important;
}

.pr-61p {
  padding-right: 61% !important;
}

.pr-62p {
  padding-right: 62% !important;
}

.pr-63p {
  padding-right: 63% !important;
}

.pr-64p {
  padding-right: 64% !important;
}

.pr-65p {
  padding-right: 65% !important;
}

.pr-66p {
  padding-right: 66% !important;
}

.pr-67p {
  padding-right: 67% !important;
}

.pr-68p {
  padding-right: 68% !important;
}

.pr-69p {
  padding-right: 69% !important;
}

.pr-70p {
  padding-right: 70% !important;
}

.pr-71p {
  padding-right: 71% !important;
}

.pr-72p {
  padding-right: 72% !important;
}

.pr-73p {
  padding-right: 73% !important;
}

.pr-74p {
  padding-right: 74% !important;
}

.pr-75p {
  padding-right: 75% !important;
}

.pr-76p {
  padding-right: 76% !important;
}

.pr-77p {
  padding-right: 77% !important;
}

.pr-78p {
  padding-right: 78% !important;
}

.pr-79p {
  padding-right: 79% !important;
}

.pr-80p {
  padding-right: 80% !important;
}

.pr-81p {
  padding-right: 81% !important;
}

.pr-82p {
  padding-right: 82% !important;
}

.pr-83p {
  padding-right: 83% !important;
}

.pr-84p {
  padding-right: 84% !important;
}

.pr-85p {
  padding-right: 85% !important;
}

.pr-86p {
  padding-right: 86% !important;
}

.pr-87p {
  padding-right: 87% !important;
}

.pr-88p {
  padding-right: 88% !important;
}

.pr-89p {
  padding-right: 89% !important;
}

.pr-90p {
  padding-right: 90% !important;
}

.pr-91p {
  padding-right: 91% !important;
}

.pr-92p {
  padding-right: 92% !important;
}

.pr-93p {
  padding-right: 93% !important;
}

.pr-94p {
  padding-right: 94% !important;
}

.pr-95p {
  padding-right: 95% !important;
}

.pr-96p {
  padding-right: 96% !important;
}

.pr-97p {
  padding-right: 97% !important;
}

.pr-98p {
  padding-right: 98% !important;
}

.pr-99p {
  padding-right: 99% !important;
}

.pr-100p {
  padding-right: 100% !important;
}

.pr-1px {
  padding-right: 1px !important;
}

.pr-2px {
  padding-right: 2px !important;
}

.pr-3px {
  padding-right: 3px !important;
}

.pr-4px {
  padding-right: 4px !important;
}

.pr-5px {
  padding-right: 5px !important;
}

.pr-6px {
  padding-right: 6px !important;
}

.pr-7px {
  padding-right: 7px !important;
}

.pr-8px {
  padding-right: 8px !important;
}

.pr-9px {
  padding-right: 9px !important;
}

.pr-10px {
  padding-right: 10px !important;
}

.pr-11px {
  padding-right: 11px !important;
}

.pr-12px {
  padding-right: 12px !important;
}

.pr-13px {
  padding-right: 13px !important;
}

.pr-14px {
  padding-right: 14px !important;
}

.pr-15px {
  padding-right: 15px !important;
}

.pr-16px {
  padding-right: 16px !important;
}

.pr-17px {
  padding-right: 17px !important;
}

.pr-18px {
  padding-right: 18px !important;
}

.pr-19px {
  padding-right: 19px !important;
}

.pr-20px {
  padding-right: 20px !important;
}

.pr-21px {
  padding-right: 21px !important;
}

.pr-22px {
  padding-right: 22px !important;
}

.pr-23px {
  padding-right: 23px !important;
}

.pr-24px {
  padding-right: 24px !important;
}

.pr-25px {
  padding-right: 25px !important;
}

.pr-26px {
  padding-right: 26px !important;
}

.pr-27px {
  padding-right: 27px !important;
}

.pr-28px {
  padding-right: 28px !important;
}

.pr-29px {
  padding-right: 29px !important;
}

.pr-30px {
  padding-right: 30px !important;
}

.pr-31px {
  padding-right: 31px !important;
}

.pr-32px {
  padding-right: 32px !important;
}

.pr-33px {
  padding-right: 33px !important;
}

.pr-34px {
  padding-right: 34px !important;
}

.pr-35px {
  padding-right: 35px !important;
}

.pr-36px {
  padding-right: 36px !important;
}

.pr-37px {
  padding-right: 37px !important;
}

.pr-38px {
  padding-right: 38px !important;
}

.pr-39px {
  padding-right: 39px !important;
}

.pr-40px {
  padding-right: 40px !important;
}

.pr-41px {
  padding-right: 41px !important;
}

.pr-42px {
  padding-right: 42px !important;
}

.pr-43px {
  padding-right: 43px !important;
}

.pr-44px {
  padding-right: 44px !important;
}

.pr-45px {
  padding-right: 45px !important;
}

.pr-46px {
  padding-right: 46px !important;
}

.pr-47px {
  padding-right: 47px !important;
}

.pr-48px {
  padding-right: 48px !important;
}

.pr-49px {
  padding-right: 49px !important;
}

.pr-50px {
  padding-right: 50px !important;
}

.pr-55px {
  padding-right: 55px !important;
}

.pr-60px {
  padding-right: 60px !important;
}

.pr-65px {
  padding-right: 65px !important;
}

.pr-70px {
  padding-right: 70px !important;
}

.pr-75px {
  padding-right: 75px !important;
}

.pr-80px {
  padding-right: 80px !important;
}

.pr-85px {
  padding-right: 85px !important;
}

.pr-90px {
  padding-right: 90px !important;
}

.pr-95px {
  padding-right: 95px !important;
}

.pr-100px {
  padding-right: 100px !important;
}

.pr-110px {
  padding-right: 110px !important;
}

.pr-120px {
  padding-right: 120px !important;
}

.pr-130px {
  padding-right: 130px !important;
}

.pr-140px {
  padding-right: 140px !important;
}

.pr-150px {
  padding-right: 150px !important;
}

.pr-160px {
  padding-right: 160px !important;
}

.pr-170px {
  padding-right: 170px !important;
}

.pr-180px {
  padding-right: 180px !important;
}

.pr-190px {
  padding-right: 190px !important;
}

.pr-200px {
  padding-right: 200px !important;
}

.pr-210px {
  padding-right: 210px !important;
}

.pr-220px {
  padding-right: 220px !important;
}

.pr-230px {
  padding-right: 230px !important;
}

.pr-240px {
  padding-right: 240px !important;
}

.pr-250px {
  padding-right: 250px !important;
}

.pr-260px {
  padding-right: 260px !important;
}

.pr-270px {
  padding-right: 270px !important;
}

.pr-280px {
  padding-right: 280px !important;
}

.pr-290px {
  padding-right: 290px !important;
}

.pr-300px {
  padding-right: 300px !important;
}

.pr-310px {
  padding-right: 310px !important;
}

.pr-320px {
  padding-right: 320px !important;
}

.pr-330px {
  padding-right: 330px !important;
}

.pr-340px {
  padding-right: 340px !important;
}

.pr-350px {
  padding-right: 350px !important;
}

.pr-360px {
  padding-right: 360px !important;
}

.pr-370px {
  padding-right: 370px !important;
}

.pr-380px {
  padding-right: 380px !important;
}

.pr-390px {
  padding-right: 390px !important;
}

.pr-400px {
  padding-right: 400px !important;
}

.pr-410px {
  padding-right: 410px !important;
}

.pr-420px {
  padding-right: 420px !important;
}

.pr-430px {
  padding-right: 430px !important;
}

.pr-440px {
  padding-right: 440px !important;
}

.pr-450px {
  padding-right: 450px !important;
}

.pr-460px {
  padding-right: 460px !important;
}

.pr-470px {
  padding-right: 470px !important;
}

.pr-480px {
  padding-right: 480px !important;
}

.pr-490px {
  padding-right: 490px !important;
}

.pr-500px {
  padding-right: 500px !important;
}

.pr-600px {
  padding-right: 600px !important;
}

.pr-700px {
  padding-right: 700px !important;
}

.pr-800px {
  padding-right: 800px !important;
}

.pr-900px {
  padding-right: 900px !important;
}

.pr-1000px {
  padding-right: 1000px !important;
}
