.mr-0 {
  margin-right: 0 !important;
}

.mr-1vw {
  margin-right: 1vw !important;
}

.mr-2vw {
  margin-right: 2vw !important;
}

.mr-3vw {
  margin-right: 3vw !important;
}

.mr-4vw {
  margin-right: 4vw !important;
}

.mr-5vw {
  margin-right: 5vw !important;
}

.mr-6vw {
  margin-right: 6vw !important;
}

.mr-7vw {
  margin-right: 7vw !important;
}

.mr-8vw {
  margin-right: 8vw !important;
}

.mr-9vw {
  margin-right: 9vw !important;
}

.mr-10vw {
  margin-right: 10vw !important;
}

.mr-11vw {
  margin-right: 11vw !important;
}

.mr-12vw {
  margin-right: 12vw !important;
}

.mr-13vw {
  margin-right: 13vw !important;
}

.mr-14vw {
  margin-right: 14vw !important;
}

.mr-15vw {
  margin-right: 15vw !important;
}

.mr-16vw {
  margin-right: 16vw !important;
}

.mr-17vw {
  margin-right: 17vw !important;
}

.mr-18vw {
  margin-right: 18vw !important;
}

.mr-19vw {
  margin-right: 19vw !important;
}

.mr-20vw {
  margin-right: 20vw !important;
}

.mr-21vw {
  margin-right: 21vw !important;
}

.mr-22vw {
  margin-right: 22vw !important;
}

.mr-23vw {
  margin-right: 23vw !important;
}

.mr-24vw {
  margin-right: 24vw !important;
}

.mr-25vw {
  margin-right: 25vw !important;
}

.mr-26vw {
  margin-right: 26vw !important;
}

.mr-27vw {
  margin-right: 27vw !important;
}

.mr-28vw {
  margin-right: 28vw !important;
}

.mr-29vw {
  margin-right: 29vw !important;
}

.mr-30vw {
  margin-right: 30vw !important;
}

.mr-31vw {
  margin-right: 31vw !important;
}

.mr-32vw {
  margin-right: 32vw !important;
}

.mr-33vw {
  margin-right: 33vw !important;
}

.mr-34vw {
  margin-right: 34vw !important;
}

.mr-35vw {
  margin-right: 35vw !important;
}

.mr-36vw {
  margin-right: 36vw !important;
}

.mr-37vw {
  margin-right: 37vw !important;
}

.mr-38vw {
  margin-right: 38vw !important;
}

.mr-39vw {
  margin-right: 39vw !important;
}

.mr-40vw {
  margin-right: 40vw !important;
}

.mr-41vw {
  margin-right: 41vw !important;
}

.mr-42vw {
  margin-right: 42vw !important;
}

.mr-43vw {
  margin-right: 43vw !important;
}

.mr-44vw {
  margin-right: 44vw !important;
}

.mr-45vw {
  margin-right: 45vw !important;
}

.mr-46vw {
  margin-right: 46vw !important;
}

.mr-47vw {
  margin-right: 47vw !important;
}

.mr-48vw {
  margin-right: 48vw !important;
}

.mr-49vw {
  margin-right: 49vw !important;
}

.mr-50vw {
  margin-right: 50vw !important;
}

.mr-51vw {
  margin-right: 51vw !important;
}

.mr-52vw {
  margin-right: 52vw !important;
}

.mr-53vw {
  margin-right: 53vw !important;
}

.mr-54vw {
  margin-right: 54vw !important;
}

.mr-55vw {
  margin-right: 55vw !important;
}

.mr-56vw {
  margin-right: 56vw !important;
}

.mr-57vw {
  margin-right: 57vw !important;
}

.mr-58vw {
  margin-right: 58vw !important;
}

.mr-59vw {
  margin-right: 59vw !important;
}

.mr-60vw {
  margin-right: 60vw !important;
}

.mr-61vw {
  margin-right: 61vw !important;
}

.mr-62vw {
  margin-right: 62vw !important;
}

.mr-63vw {
  margin-right: 63vw !important;
}

.mr-64vw {
  margin-right: 64vw !important;
}

.mr-65vw {
  margin-right: 65vw !important;
}

.mr-66vw {
  margin-right: 66vw !important;
}

.mr-67vw {
  margin-right: 67vw !important;
}

.mr-68vw {
  margin-right: 68vw !important;
}

.mr-69vw {
  margin-right: 69vw !important;
}

.mr-70vw {
  margin-right: 70vw !important;
}

.mr-71vw {
  margin-right: 71vw !important;
}

.mr-72vw {
  margin-right: 72vw !important;
}

.mr-73vw {
  margin-right: 73vw !important;
}

.mr-74vw {
  margin-right: 74vw !important;
}

.mr-75vw {
  margin-right: 75vw !important;
}

.mr-76vw {
  margin-right: 76vw !important;
}

.mr-77vw {
  margin-right: 77vw !important;
}

.mr-78vw {
  margin-right: 78vw !important;
}

.mr-79vw {
  margin-right: 79vw !important;
}

.mr-80vw {
  margin-right: 80vw !important;
}

.mr-81vw {
  margin-right: 81vw !important;
}

.mr-82vw {
  margin-right: 82vw !important;
}

.mr-83vw {
  margin-right: 83vw !important;
}

.mr-84vw {
  margin-right: 84vw !important;
}

.mr-85vw {
  margin-right: 85vw !important;
}

.mr-86vw {
  margin-right: 86vw !important;
}

.mr-87vw {
  margin-right: 87vw !important;
}

.mr-88vw {
  margin-right: 88vw !important;
}

.mr-89vw {
  margin-right: 89vw !important;
}

.mr-90vw {
  margin-right: 90vw !important;
}

.mr-91vw {
  margin-right: 91vw !important;
}

.mr-92vw {
  margin-right: 92vw !important;
}

.mr-93vw {
  margin-right: 93vw !important;
}

.mr-94vw {
  margin-right: 94vw !important;
}

.mr-95vw {
  margin-right: 95vw !important;
}

.mr-96vw {
  margin-right: 96vw !important;
}

.mr-97vw {
  margin-right: 97vw !important;
}

.mr-98vw {
  margin-right: 98vw !important;
}

.mr-99vw {
  margin-right: 99vw !important;
}

.mr-100vw {
  margin-right: 100vw !important;
}

.mr-1p {
  margin-right: 1% !important;
}

.mr-2p {
  margin-right: 2% !important;
}

.mr-3p {
  margin-right: 3% !important;
}

.mr-4p {
  margin-right: 4% !important;
}

.mr-5p {
  margin-right: 5% !important;
}

.mr-6p {
  margin-right: 6% !important;
}

.mr-7p {
  margin-right: 7% !important;
}

.mr-8p {
  margin-right: 8% !important;
}

.mr-9p {
  margin-right: 9% !important;
}

.mr-10p {
  margin-right: 10% !important;
}

.mr-11p {
  margin-right: 11% !important;
}

.mr-12p {
  margin-right: 12% !important;
}

.mr-13p {
  margin-right: 13% !important;
}

.mr-14p {
  margin-right: 14% !important;
}

.mr-15p {
  margin-right: 15% !important;
}

.mr-16p {
  margin-right: 16% !important;
}

.mr-17p {
  margin-right: 17% !important;
}

.mr-18p {
  margin-right: 18% !important;
}

.mr-19p {
  margin-right: 19% !important;
}

.mr-20p {
  margin-right: 20% !important;
}

.mr-21p {
  margin-right: 21% !important;
}

.mr-22p {
  margin-right: 22% !important;
}

.mr-23p {
  margin-right: 23% !important;
}

.mr-24p {
  margin-right: 24% !important;
}

.mr-25p {
  margin-right: 25% !important;
}

.mr-26p {
  margin-right: 26% !important;
}

.mr-27p {
  margin-right: 27% !important;
}

.mr-28p {
  margin-right: 28% !important;
}

.mr-29p {
  margin-right: 29% !important;
}

.mr-30p {
  margin-right: 30% !important;
}

.mr-31p {
  margin-right: 31% !important;
}

.mr-32p {
  margin-right: 32% !important;
}

.mr-33p {
  margin-right: 33% !important;
}

.mr-34p {
  margin-right: 34% !important;
}

.mr-35p {
  margin-right: 35% !important;
}

.mr-36p {
  margin-right: 36% !important;
}

.mr-37p {
  margin-right: 37% !important;
}

.mr-38p {
  margin-right: 38% !important;
}

.mr-39p {
  margin-right: 39% !important;
}

.mr-40p {
  margin-right: 40% !important;
}

.mr-41p {
  margin-right: 41% !important;
}

.mr-42p {
  margin-right: 42% !important;
}

.mr-43p {
  margin-right: 43% !important;
}

.mr-44p {
  margin-right: 44% !important;
}

.mr-45p {
  margin-right: 45% !important;
}

.mr-46p {
  margin-right: 46% !important;
}

.mr-47p {
  margin-right: 47% !important;
}

.mr-48p {
  margin-right: 48% !important;
}

.mr-49p {
  margin-right: 49% !important;
}

.mr-50p {
  margin-right: 50% !important;
}

.mr-51p {
  margin-right: 51% !important;
}

.mr-52p {
  margin-right: 52% !important;
}

.mr-53p {
  margin-right: 53% !important;
}

.mr-54p {
  margin-right: 54% !important;
}

.mr-55p {
  margin-right: 55% !important;
}

.mr-56p {
  margin-right: 56% !important;
}

.mr-57p {
  margin-right: 57% !important;
}

.mr-58p {
  margin-right: 58% !important;
}

.mr-59p {
  margin-right: 59% !important;
}

.mr-60p {
  margin-right: 60% !important;
}

.mr-61p {
  margin-right: 61% !important;
}

.mr-62p {
  margin-right: 62% !important;
}

.mr-63p {
  margin-right: 63% !important;
}

.mr-64p {
  margin-right: 64% !important;
}

.mr-65p {
  margin-right: 65% !important;
}

.mr-66p {
  margin-right: 66% !important;
}

.mr-67p {
  margin-right: 67% !important;
}

.mr-68p {
  margin-right: 68% !important;
}

.mr-69p {
  margin-right: 69% !important;
}

.mr-70p {
  margin-right: 70% !important;
}

.mr-71p {
  margin-right: 71% !important;
}

.mr-72p {
  margin-right: 72% !important;
}

.mr-73p {
  margin-right: 73% !important;
}

.mr-74p {
  margin-right: 74% !important;
}

.mr-75p {
  margin-right: 75% !important;
}

.mr-76p {
  margin-right: 76% !important;
}

.mr-77p {
  margin-right: 77% !important;
}

.mr-78p {
  margin-right: 78% !important;
}

.mr-79p {
  margin-right: 79% !important;
}

.mr-80p {
  margin-right: 80% !important;
}

.mr-81p {
  margin-right: 81% !important;
}

.mr-82p {
  margin-right: 82% !important;
}

.mr-83p {
  margin-right: 83% !important;
}

.mr-84p {
  margin-right: 84% !important;
}

.mr-85p {
  margin-right: 85% !important;
}

.mr-86p {
  margin-right: 86% !important;
}

.mr-87p {
  margin-right: 87% !important;
}

.mr-88p {
  margin-right: 88% !important;
}

.mr-89p {
  margin-right: 89% !important;
}

.mr-90p {
  margin-right: 90% !important;
}

.mr-91p {
  margin-right: 91% !important;
}

.mr-92p {
  margin-right: 92% !important;
}

.mr-93p {
  margin-right: 93% !important;
}

.mr-94p {
  margin-right: 94% !important;
}

.mr-95p {
  margin-right: 95% !important;
}

.mr-96p {
  margin-right: 96% !important;
}

.mr-97p {
  margin-right: 97% !important;
}

.mr-98p {
  margin-right: 98% !important;
}

.mr-99p {
  margin-right: 99% !important;
}

.mr-100p {
  margin-right: 100% !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mr-7 {
  margin-right: 7px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-9 {
  margin-right: 9px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-11 {
  margin-right: 11px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-13 {
  margin-right: 13px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-17 {
  margin-right: 17px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mr-19 {
  margin-right: 19px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-21 {
  margin-right: 21px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.mr-23 {
  margin-right: 23px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.mr-27 {
  margin-right: 27px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mr-29 {
  margin-right: 29px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-31 {
  margin-right: 31px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mr-33 {
  margin-right: 33px !important;
}

.mr-34 {
  margin-right: 34px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mr-37 {
  margin-right: 37px !important;
}

.mr-38 {
  margin-right: 38px !important;
}

.mr-39 {
  margin-right: 39px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-41 {
  margin-right: 41px !important;
}

.mr-42 {
  margin-right: 42px !important;
}

.mr-43 {
  margin-right: 43px !important;
}

.mr-44 {
  margin-right: 44px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-46 {
  margin-right: 46px !important;
}

.mr-47 {
  margin-right: 47px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.mr-49 {
  margin-right: 49px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mr-95 {
  margin-right: 95px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mr-110 {
  margin-right: 110px !important;
}

.mr-120 {
  margin-right: 120px !important;
}

.mr-130 {
  margin-right: 130px !important;
}

.mr-140 {
  margin-right: 140px !important;
}

.mr-150 {
  margin-right: 150px !important;
}

.mr-160 {
  margin-right: 160px !important;
}

.mr-170 {
  margin-right: 170px !important;
}

.mr-180 {
  margin-right: 180px !important;
}

.mr-190 {
  margin-right: 190px !important;
}

.mr-200 {
  margin-right: 200px !important;
}

.mr-210 {
  margin-right: 210px !important;
}

.mr-220 {
  margin-right: 220px !important;
}

.mr-230 {
  margin-right: 230px !important;
}

.mr-240 {
  margin-right: 240px !important;
}

.mr-250 {
  margin-right: 250px !important;
}

.mr-260 {
  margin-right: 260px !important;
}

.mr-270 {
  margin-right: 270px !important;
}

.mr-280 {
  margin-right: 280px !important;
}

.mr-290 {
  margin-right: 290px !important;
}

.mr-300 {
  margin-right: 300px !important;
}

.mr-310 {
  margin-right: 310px !important;
}

.mr-320 {
  margin-right: 320px !important;
}

.mr-330 {
  margin-right: 330px !important;
}

.mr-340 {
  margin-right: 340px !important;
}

.mr-350 {
  margin-right: 350px !important;
}

.mr-360 {
  margin-right: 360px !important;
}

.mr-370 {
  margin-right: 370px !important;
}

.mr-380 {
  margin-right: 380px !important;
}

.mr-390 {
  margin-right: 390px !important;
}

.mr-400 {
  margin-right: 400px !important;
}

.mr-410 {
  margin-right: 410px !important;
}

.mr-420 {
  margin-right: 420px !important;
}

.mr-430 {
  margin-right: 430px !important;
}

.mr-440 {
  margin-right: 440px !important;
}

.mr-450 {
  margin-right: 450px !important;
}

.mr-460 {
  margin-right: 460px !important;
}

.mr-470 {
  margin-right: 470px !important;
}

.mr-480 {
  margin-right: 480px !important;
}

.mr-490 {
  margin-right: 490px !important;
}

.mr-500 {
  margin-right: 500px !important;
}

.mr-600 {
  margin-right: 600px !important;
}

.mr-700 {
  margin-right: 700px !important;
}

.mr-800 {
  margin-right: 800px !important;
}

.mr-900 {
  margin-right: 900px !important;
}

.mr-1000 {
  margin-right: 1000px !important;
}
