.q-chunk {
  background: $color-white;
  border: $border-base;
  color: $color-main;
}

@each $key, $color in $colors-bg {
  .q-chunk-#{''+$key+''} {
    //深色主题，字体白色，其他主题色
    color: $color-white;
    background-color: $color;
    border: $border-base;
    border-color: $color;
  }
  .q-chunk-#{''+$key+''}_plain {
    //朴素主题，字体白色，其他主题色
    color: $color;
    background-color: $color-white;
    border: $border-base;
    border-color: $color;
  }
  .q-chunk-#{''+$key+''}_light {
    //深色主题，字体白色，其他主题色
    color: $color;
    background-color: mix($color, $color-white, 10%);
    border: $border-base;
    border-color: mix($color, $color-white, 20%);
  }
}


