* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}

page {
  height: 100vh;
  background-color: #FAFAFA;
  color: #303133;
  font-size: 14px;
}

::-webkit-scrollbar {
  display: none;
}

view {
  line-height: 1.8;
}

text {
  line-height: 1.4;
}

/*
view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  line-height: 1.8;
}

text {
  line-height: 1;
}*/

ul {
  list-style: none;
}

.bg-primary {
  background: $main-color;
  color: #FFFFFF;
}

uni-page-body {
  height: 100%
}
