$color-grey1: #141414 !default;
$color-grey2: #1f2329 !default;
$color-grey3: #282f3d !default;
$color-grey4: #333333 !default;
$color-grey5: #434343 !default;
$color-grey6: #666666 !default;
$color-grey7: #999999 !default;
$color-grey8: #bfbfbf !default;
$color-grey9: #d9d9d9 !default;
$color-grey10: #f0f0f0 !default;
$color-grey11: #f5f5f5 !default;
$color-grey12: #F3F4F7 !default;
$color-grey13: #f3f5fb !default;
$color-grey14: #EAEBEC !default;
$color-grey15: #e5e5e5 !default;
$color-grey16: #ececec !default;

$color-grey: $color-grey3 !default;
$color-grey-light: $color-grey8 !default;

$colors-grey: (
  grey:$color-grey,
  grey1:$color-grey1,
  grey2:$color-grey2,
  grey3:$color-grey3,
  grey4:$color-grey4,
  grey5:$color-grey5,
  grey6:$color-grey6,
  grey7:$color-grey7,
  grey8:$color-grey8,
  grey9:$color-grey9,
  grey10:$color-grey10,
  grey11:$color-grey11,
  grey12:$color-grey12,
  grey13:$color-grey13,
  grey14:$color-grey14,
  grey15:$color-grey15,
  grey16:$color-grey16,
  grey-light:$color-grey-light,
)
