* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}

page {
  height: 100%;
  background-color: #f6f7f9;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color: #303133;
  font-size: 14px;
  overflow-x: hidden;
}

//隐藏scroll-view的滚动条
::-webkit-scrollbar {
  display: none;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image,
text {
  line-height: 1.4;
}

ul {
  list-style: none;
}

.font-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.font2-cut {
  display: -webkit-box;           //盒子模型
  -webkit-box-orient:vertical;    //元素的排列方式，垂直居中
  -webkit-line-clamp:2;           //设置行数，2行显示
  overflow:hidden;                //隐藏溢出内容
  text-overflow: ellipsis;        //超出的内容显示省略号
}


.font3-cut {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
