.top-0 {
  /*  #ifdef H5  */
  top: 42px;
  top: calc(42px + constant(safe-area-inset-top));
  top: calc(42px + env(safe-area-inset-top));
  /*  #endif  */
  /*  #ifndef H5  */
  top: 0;
  /*  #endif  */
}

