//遮罩
//吸顶1000
.modal-index {
  z-index: 1003;
}

.popup-bg-index {
  z-index: 999;
}

.popup-index{
  z-index: 1005;
}

//吸顶
.nav-index {
  z-index: 991;
}

.tab-index {
  z-index: 990;
}

//吸顶
.sticky-index {
  z-index: 1;
}

//999为h5原生
.fixed-index {
  z-index: 10;
}

.index-0 {
  z-index: 0;
}

.index-xs {
  z-index: 1;
}

.index-sm {
  z-index: 2;
}

.index-df {
  z-index: 3;
}

.index-lg {
  z-index: 4;
}

.index-1000 {
  z-index: 1000;
}

.index-9999 {
  z-index: 9999;
}
