.el-upload {
  --el-upload-dragger-padding-horizontal: 0;
  --el-upload-dragger-padding-vertical: 0;
}

.el-upload-dragger .el-icon--upload {
  margin-bottom: 0;
  line-height: 0;
}

.el-dialog__body {
  padding: 0;
}
