$color-purple1: #EDE9FE !default;
$color-purple2: #DDD6FE !default;
$color-purple3: #C4B5FD !default;
$color-purple4: #A78BFA !default;
$color-purple5: #8B5CF6 !default;
$color-purple6: #7C3AED !default;
$color-purple7: #6D28D9 !default;
$color-purple8: #5B21B6 !default;
$color-purple9: #4C1D95 !default;

$color-purple: $color-purple5 !default;

$colors-purple: (
        purple:$color-purple,
        purple1:$color-purple1,
        purple2:$color-purple2,
        purple3:$color-purple3,
        purple4:$color-purple4,
        purple5:$color-purple5,
        purple6:$color-purple6,
        purple7:$color-purple7,
        purple8:$color-purple8,
        purple9:$color-purple9
)
