.color-main {
  color: #303133;
}

.color-primary {
  color: #409EFF;
}

.color-success{
  color: #67C23A;
}

.color-warn {
  color: #E6A23C;
}

.color-error {
  color: #F56C6C;
}

.color-default {
  color: #303133;
}

.color-content {
  color: #606266;
}

.color-info {
  color: #909399;
}

.color-sub {
  color: #C0C4CC;
}

.color-blue {
  color: #2d76ff;
}

.color-black {
  color: #333333;
}

.color-gray {
  color: #666666;
}

.color-grey {
  color: #aaaaaa;
}

.color-white {
  color: white;
}

.color-green {
  color: #73d13d;
}

.color-yellow {
  color: #facc15;
}

.color-orange {
  color: #f5a230;
}

.color-purple {
  color: mediumpurple;
}

.color-red {
  color: #ff4d4e;
}
