.active-line{
  background-color: #007aff;
  height: 3px;
  @extend .bd-radius;
}

.q-tab-item.active {
  color: #007aff;

  .q-tab {
    @extend .font-lg;
    @extend .font-bold;

    * {
      @extend .font-lg;
      @extend .font-bold;
    }
  }
}
