.index--999 {
  z-index: -1;
}

.index--2 {
  z-index: -1;
}

.index--1 {
  z-index: -1;
}

.index-0 {
    z-index: 0;
}

.index-xs {
    z-index: 1;
}

.index-sm {
    z-index: 2;
}

.index-df {
    z-index: 3;
}

.index-lg {
    z-index: 4;
}

.index-1000 {
    z-index: 1000;
}

.index-9999 {
    z-index: 9999;
}
