* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}

html {
  height: 100vh;
  width: 100vw;
  color: #303133;
  font-size: 15px;
  line-height: 1.4;
  box-sizing: border-box;
  overflow-x: hidden;
  //background-color: #FAFAFA;
}


body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
}


a {
  text-decoration: none
}

:focus {
  outline-width: 0;
}

.img-size100p {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fade-in-out {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  /*初始状态 透明度为0*/
  100% {
    opacity: 1;
  }
  /*结束状态 透明度为1*/
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  /*初始状态 透明度为0*/
  100% {
    opacity: 0;
  }
  /*结束状态 透明度为1*/
}

.rotate90 {
  transform: rotate(90deg);
}
