$color-orange: #FF7800;
$color-orange1: #FF9429;
$color-orange2: #FFC069;
$color-orange3: #FFAE52;
$color-orange4: #FFC67A;
$color-orange5: #FFDAA3;
$color-orange6: #FFF6E6;
$color-orange7: #F5DAB1;
$color-orange8: #FDF6EC;

$color-orange-light: $color-orange8;

$colors-orange: (
        orange:$color-orange,
        orange1:$color-orange1,
        orange2:$color-orange2,
        orange3:$color-orange3,
        orange4:$color-orange4,
        orange5:$color-orange5,
        orange6:$color-orange6,
        orange7:$color-orange7,
        orange8:$color-orange8,
        orange-light:$color-orange-light,
);
