$color-theme: #28a5dc;
$color-bg-default: #f9f9f9;

@import './app.scss';
@import './qing-scss';


/*@media (min-width: 768px) {
  .sm\:font-44 {
    font-size: 44px
  }
}*/



.fasdf88{
  font-size: 88px;
}
.fasdf66{
  font-size: 66px;
}
