.bg-black {
  background-color: #333333;
  color: #ffffff;
}

.bg-white {
  background-color: #FFFFFF;
  color: #303133;
}

.bg-default {
  background-color: #FAFAFA;
  color: #303133;
}

.bg-disabled {
  background-color: rgba(245, 206, 231, 0.12);
  color: #303133;
}

.bg-transparent {
  background-color: transparent;
  color: #303133;
}

.bg-half-transparent {
  background-color: rgba(0, 0, 0, 0.5);
  color: #303133;
}

.bg-shadow {
  background-color: rgba(0, 0, 0, 0.3);
  color: #303133;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.6);
  color: #303133;
}

.bg-gradual-red {
  background-image: linear-gradient(45deg, #f43f3b, #ec008c);
  color: #ffffff;
}

.bg-gradual-orange {
  background-image: linear-gradient(45deg, #ff9700, #ed1c24);
  color: #ffffff;
}

.bg-gradual-green {
  background-image: linear-gradient(45deg, #39b54a, #8dc63f);
  color: #ffffff;
}

.bg-gradual-purple {
  background-image: linear-gradient(45deg, #9000ff, #5e00ff);
  color: #ffffff;
}

.bg-gradual-pink {
  background-image: linear-gradient(45deg, #ec008c, #6739b6);
  color: #ffffff;
}

.bg-gradual-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
  color: #ffffff;
}


.bg-red {
  background-color: #e54d42;
  color: #FFFFFF;
}


.bg-red-light5 {
  background-color: #FFEBEE;
  color: #FFFFFF;
}


.bg-red-light4 {
  background-color: #FFCDD2;
  color: #FFFFFF;
}


.bg-red-light3 {
  background-color: #EF9A9A;
  color: #FFFFFF;
}


.bg-red-light2 {
  background-color: #E57373;
  color: #FFFFFF;
}


.bg-red-light {
  background-color: #EF5350;
  color: #FFFFFF;
}


.bg-red-light1 {
  background-color: #EF5350;
  color: #FFFFFF;
}


.bg-red-plain {
  background-color: #fadbd9;
  color: #e54d42;
}


.bg-red-dark {
  background-color: #E53935;
  color: #FFFFFF;
}


.bg-red-dark1 {
  background-color: #E53935;
  color: #FFFFFF;
}

.bg-red-dark2 {
  background-color: #D32F2F;
  color: #FFFFFF;
}

.bg-red-dark3 {
  background-color: #C62828;
  color: #FFFFFF;
}


.bg-red-dark4 {
  background-color: #B71C1C;
  color: #FFFFFF;
}


.bg-red-accent {
  background-color: #FF8A80;
  color: #FFFFFF;
}


.bg-red-accent1 {
  background-color: #FF8A80;
  color: #FFFFFF;
}


.bg-red-accent2 {
  background-color: #FF5252;
  color: #FFFFFF;
}


.bg-red-accent3 {
  background-color: #FF1744;
  color: #FFFFFF;
}


.bg-red-accent4 {
  background-color: #D50000;
  color: #FFFFFF;
}


.bg-pink {
  background-color: #e03997;
  color: #FFFFFF;
}


.bg-pink-plain {
  background-color: #f9d7ea;
  color: #e03997;
}


.bg-pink-light5 {
  background-color: #FCE4EC;
  color: #FFFFFF;
}


.bg-pink-light4 {
  background-color: #F8BBD0;
  color: #FFFFFF;
}


.bg-pink-light3 {
  background-color: #F48FB1;
  color: #FFFFFF;
}


.bg-pink-light2 {
  background-color: #F06292;
  color: #FFFFFF;
}


.bg-pink-light {
  background-color: #EC407A;
  color: #FFFFFF;
}


.bg-pink-light1 {
  background-color: #EC407A;
  color: #FFFFFF;
}


.bg-pink-dark {
  background-color: #D81B60;
  color: #FFFFFF;
}


.bg-pink-dark1 {
  background-color: #D81B60;
  color: #FFFFFF;
}


.bg-pink-dark2 {
  background-color: #C2185B;
  color: #FFFFFF;
}


.bg-pink-dark3 {
  background-color: #AD1457;
  color: #FFFFFF;
}


.bg-pink-dark4 {
  background-color: #880E4F;
  color: #FFFFFF;
}


.bg-pink-accent {
  background-color: #FF80AB;
  color: #FFFFFF;
}


.bg-pink-accent1 {
  background-color: #FF80AB;
  color: #FFFFFF;
}


.bg-pink-accent2 {
  background-color: #FF4081;
  color: #FFFFFF;
}


.bg-pink-accent3 {
  background-color: #F50057;
  color: #FFFFFF;
}


.bg-pink-accent4 {
  background-color: #C51162;
  color: #FFFFFF;
}


.bg-mauve {
  background-color: #9c26b0;
  color: #FFFFFF;
}


.bg-mauve {
  background-color: #ebd4ef;
  color: #9c26b0;
}


.bg-purple {
  background-color: #6739b6;
  color: #FFFFFF;
}


.bg-purple-plain {
  background-color: #e1d7f0;
  color: #6739b6;
}


.bg-purple-light5 {
  background-color: #F3E5F5;
  color: #FFFFFF;
}


.bg-purple-light4 {
  background-color: #E1BEE7;
  color: #FFFFFF;
}


.bg-purple-light3 {
  background-color: #CE93D8;
  color: #FFFFFF;
}


.bg-purple-light2 {
  background-color: #BA68C8;
  color: #FFFFFF;
}


.bg-purple-light {
  background-color: #AB47BC;
  color: #FFFFFF;
}


.bg-purple-light1 {
  background-color: #AB47BC;
  color: #FFFFFF;
}


.bg-purple-dark {
  background-color: #8E24AA;
  color: #FFFFFF;
}


.bg-purple-dark1 {
  background-color: #8E24AA;
  color: #FFFFFF;
}


.bg-purple-dark2 {
  background-color: #7B1FA2;
  color: #FFFFFF;
}


.bg-purple-dark3 {
  background-color: #6A1B9A;
  color: #FFFFFF;
}


.bg-purple-dark4 {
  background-color: #4A148C;
  color: #FFFFFF;
}


.bg-purple-accent {
  background-color: #EA80FC;
  color: #FFFFFF;
}


.bg-purple-accent1 {
  background-color: #EA80FC;
  color: #FFFFFF;
}


.bg-purple-accent2 {
  background-color: #E040FB;
  color: #FFFFFF;
}


.bg-purple-accent3 {
  background-color: #D500F9;
  color: #FFFFFF;
}


.bg-purple-accent4 {
  background-color: #AA00FF;
  color: #FFFFFF;
}


.bg-deep-purple {
  background-color: #673AB7;
  color: #FFFFFF;
}


.bg-deep-purple-light5 {
  background-color: #EDE7F6;
  color: #FFFFFF;
}


.bg-deep-purple-light4 {
  background-color: #D1C4E9;
  color: #FFFFFF;
}


.bg-deep-purple-light3 {
  background-color: #B39DDB;
  color: #FFFFFF;
}


.bg-deep-purple-light2 {
  background-color: #9575CD;
  color: #FFFFFF;
}


.bg-deep-purple-light {
  background-color: #7E57C2;
  color: #FFFFFF;
}


.bg-deep-purple-light1 {
  background-color: #7E57C2;
  color: #FFFFFF;
}


.bg-deep-purple-dark {
  background-color: #5E35B1;
  color: #FFFFFF;
}


.bg-deep-purple-dark1 {
  background-color: #5E35B1;
  color: #FFFFFF;
}


.bg-deep-purple-dark2 {
  background-color: #512DA8;
  color: #FFFFFF;
}


.bg-deep-purple-dark3 {
  background-color: #4527A0;
  color: #FFFFFF;
}


.bg-deep-purple-dark4 {
  background-color: #311B92;
  color: #FFFFFF;
}


.bg-deep-purple-accent {
  background-color: #B388FF;
  color: #FFFFFF;
}


.bg-deep-purple-accent1 {
  background-color: #B388FF;
  color: #FFFFFF;
}


.bg-deep-purple-accent2 {
  background-color: #7C4DFF;
  color: #FFFFFF;
}


.bg-deep-purple-accent3 {
  background-color: #651FFF;
  color: #FFFFFF;
}


.bg-deep-purple-accent4 {
  background-color: #6200EA;
  color: #FFFFFF;
}


.bg-indigo {
  background-color: #3F51B5;
  color: #FFFFFF;
}


.bg-indigo-light5 {
  background-color: #E8EAF6;
  color: #FFFFFF;
}


.bg-indigo-light4 {
  background-color: #C5CAE9;
  color: #FFFFFF;
}


.bg-indigo-light3 {
  background-color: #9FA8DA;
  color: #FFFFFF;
}


.bg-indigo-light2 {
  background-color: #7986CB;
  color: #FFFFFF;
}


.bg-indigo-light {
  background-color: #5C6BC0;
  color: #FFFFFF;
}


.bg-indigo-light1 {
  background-color: #5C6BC0;
  color: #FFFFFF;
}


.bg-indigo-dark {
  background-color: #3949AB;
  color: #FFFFFF;
}


.bg-indigo-dark1 {
  background-color: #3949AB;
  color: #FFFFFF;
}


.bg-indigo-dark2 {
  background-color: #303F9F;
  color: #FFFFFF;
}


.bg-indigo-dark3 {
  background-color: #283593;
  color: #FFFFFF;
}


.bg-indigo-dark4 {
  background-color: #1A237E;
  color: #FFFFFF;
}


.bg-indigo-accent {
  background-color: #8C9EFF;
  color: #FFFFFF;
}


.bg-indigo-accent1 {
  background-color: #8C9EFF;
  color: #FFFFFF;
}


.bg-indigo-accent2 {
  background-color: #536DFE;
  color: #FFFFFF;
}


.bg-indigo-accent3 {
  background-color: #3D5AFE;
  color: #FFFFFF;
}


.bg-indigo-accent4 {
  background-color: #304FFE;
  color: #FFFFFF;
}


.bg-blue {
  background-color: #0081ff;
  color: #FFFFFF;
}


.bg-blue-plain {
  background-color: #cce6ff;
  color: #0081ff;
}


.bg-blue-light5 {
  background-color: #E3F2FD;
  color: #FFFFFF;
}


.bg-blue-light4 {
  background-color: #BBDEFB;
  color: #FFFFFF;
}


.bg-blue-light3 {
  background-color: #90CAF9;
  color: #FFFFFF;
}


.bg-blue-light2 {
  background-color: #64B5F6;
  color: #FFFFFF;
}


.bg-blue-light {
  background-color: #42A5F5;
  color: #FFFFFF;
}


.bg-blue-light1 {
  background-color: #42A5F5;
  color: #FFFFFF;
}


.bg-blue-dark {
  background-color: #1E88E5;
  color: #FFFFFF;
}


.bg-blue-dark1 {
  background-color: #1E88E5;
  color: #FFFFFF;
}


.bg-blue-dark2 {
  background-color: #1976D2;
  color: #FFFFFF;
}


.bg-blue-dark3 {
  background-color: #1565C0;
  color: #FFFFFF;
}


.bg-blue-dark4 {
  background-color: #0D47A1;
  color: #FFFFFF;
}


.bg-blue-accent {
  background-color: #82B1FF;
  color: #FFFFFF;
}


.bg-blue-accent1 {
  background-color: #82B1FF;
  color: #FFFFFF;
}


.bg-blue-accent2 {
  background-color: #448AFF;
  color: #FFFFFF;
}


.bg-blue-accent3 {
  background-color: #2979FF;
  color: #FFFFFF;
}


.bg-blue-accent4 {
  background-color: #2962FF;
  color: #FFFFFF;
}


.bg-lightblue {
  background-color: #03A9F4;
  color: #FFFFFF;
}


.bg-lightblue-light5 {
  background-color: #E1F5FE;
  color: #FFFFFF;
}


.bg-lightblue-light4 {
  background-color: #B3E5FC;
  color: #FFFFFF;
}


.bg-lightblue-light3 {
  background-color: #81D4FA;
  color: #FFFFFF;
}


.bg-lightblue-light2 {
  background-color: #4FC3F7;
  color: #FFFFFF;
}


.bg-lightblue-light {
  background-color: #29B6F6;
  color: #FFFFFF;
}


.bg-lightblue-light1 {
  background-color: #29B6F6;
  color: #FFFFFF;
}


.bg-lightblue-dark {
  background-color: #039BE5;
  color: #FFFFFF;
}


.bg-lightblue-dark1 {
  background-color: #039BE5;
  color: #FFFFFF;
}


.bg-lightblue-dark2 {
  background-color: #0288D1;
  color: #FFFFFF;
}


.bg-lightblue-dark3 {
  background-color: #0277BD;
  color: #FFFFFF;
}


.bg-lightblue-dark4 {
  background-color: #01579B;
  color: #FFFFFF;
}


.bg-lightblue-accent {
  background-color: #80D8FF;
  color: #FFFFFF;
}


.bg-lightblue-accent1 {
  background-color: #80D8FF;
  color: #FFFFFF;
}


.bg-lightblue-accent2 {
  background-color: #40C4FF;
  color: #FFFFFF;
}


.bg-lightblue-accent3 {
  background-color: #00B0FF;
  color: #FFFFFF;
}


.bg-lightblue-accent4 {
  background-color: #0091EA;
  color: #FFFFFF;
}


.bg-cyan {
  background-color: #1cbbb4;
  color: #FFFFFF;
}


.bg-cyan-plain {
  background-color: #d2f1f0;
  color: #1cbbb4;
}


.bg-cyan-light5 {
  background-color: #E0F7FA;
  color: #FFFFFF;
}


.bg-cyan-light4 {
  background-color: #B2EBF2;
  color: #FFFFFF;
}


.bg-cyan-light3 {
  background-color: #80DEEA;
  color: #FFFFFF;
}


.bg-cyan-light2 {
  background-color: #4DD0E1;
  color: #FFFFFF;
}


.bg-cyan-light {
  background-color: #26C6DA;
  color: #FFFFFF;
}


.bg-cyan-light1 {
  background-color: #26C6DA;
  color: #FFFFFF;
}


.bg-cyan-dark {
  background-color: #00ACC1;
  color: #FFFFFF;
}


.bg-cyan-dark1 {
  background-color: #00ACC1;
  color: #FFFFFF;
}


.bg-cyan-dark2 {
  background-color: #0097A7;
  color: #FFFFFF;
}


.bg-cyan-dark3 {
  background-color: #00838F;
  color: #FFFFFF;
}


.bg-cyan-dark4 {
  background-color: #006064;
  color: #FFFFFF;
}


.bg-cyan-accent {
  background-color: #84FFFF;
  color: #FFFFFF;
}


.bg-cyan-accent1 {
  background-color: #84FFFF;
  color: #FFFFFF;
}


.bg-cyan-accent2 {
  background-color: #18FFFF;
  color: #FFFFFF;
}


.bg-cyan-accent3 {
  background-color: #00E5FF;
  color: #FFFFFF;
}


.bg-cyan-accent4 {
  background-color: #00B8D4;
  color: #FFFFFF;
}


.bg-teal {
  background-color: #009688;
  color: #FFFFFF;
}


.bg-teal-light5 {
  background-color: #E0F2F1;
  color: #FFFFFF;
}


.bg-teal-light4 {
  background-color: #B2DFDB;
  color: #FFFFFF;
}


.bg-teal-light3 {
  background-color: #80CBC4;
  color: #FFFFFF;
}


.bg-teal-light2 {
  background-color: #4DB6AC;
  color: #FFFFFF;
}


.bg-teal-light {
  background-color: #26A69A;
  color: #FFFFFF;
}


.bg-teal-light1 {
  background-color: #26A69A;
  color: #FFFFFF;
}


.bg-teal-dark {
  background-color: #00897B;
  color: #FFFFFF;
}


.bg-teal-dark1 {
  background-color: #00897B;
  color: #FFFFFF;
}


.bg-teal-dark2 {
  background-color: #00796B;
  color: #FFFFFF;
}


.bg-teal-dark3 {
  background-color: #00695C;
  color: #FFFFFF;
}


.bg-teal-dark4 {
  background-color: #004D40;
  color: #FFFFFF;
}


.bg-teal-accent {
  background-color: #A7FFEB;
  color: #FFFFFF;
}


.bg-teal-accent1 {
  background-color: #A7FFEB;
  color: #FFFFFF;
}


.bg-teal-accent2 {
  background-color: #64FFDA;
  color: #FFFFFF;
}


.bg-teal-accent3 {
  background-color: #1DE9B6;
  color: #FFFFFF;
}


.bg-teal-accent4 {
  background-color: #00BFA5;
  color: #FFFFFF;
}


.bg-olive {
  background-color: #8dc63f;
  color: #FFFFFF;
}


.bg-olive-plain {
  background-color: #e8f4d9;
  color: #8dc63f;
}


.bg-green {
  background-color: #39b54a;
  color: #FFFFFF;
}


.bg-green-plain {
  background-color: #d7f0dbff;
  color: #39b54a;
}


.bg-green-light5 {
  background-color: #E8F5E9;
  color: #FFFFFF;
}


.bg-green-light4 {
  background-color: #C8E6C9;
  color: #FFFFFF;
}


.bg-green-light3 {
  background-color: #A5D6A7;
  color: #FFFFFF;
}


.bg-green-light2 {
  background-color: #81C784;
  color: #FFFFFF;
}


.bg-green-light {
  background-color: #66BB6A;
  color: #FFFFFF;
}


.bg-green-light1 {
  background-color: #66BB6A;
  color: #FFFFFF;
}


.bg-green-dark {
  background-color: #43A047;
  color: #FFFFFF;
}


.bg-green-dark1 {
  background-color: #43A047;
  color: #FFFFFF;
}


.bg-green-dark2 {
  background-color: #388E3C;
  color: #FFFFFF;
}


.bg-green-dark3 {
  background-color: #2E7D32;
  color: #FFFFFF;
}


.bg-green-dark4 {
  background-color: #1B5E20;
  color: #FFFFFF;
}


.bg-green-accent {
  background-color: #B9F6CA;
  color: #FFFFFF;
}


.bg-green-accent1 {
  background-color: #B9F6CA;
  color: #FFFFFF;
}


.bg-green-accent2 {
  background-color: #69F0AE;
  color: #FFFFFF;
}


.bg-green-accent3 {
  background-color: #00E676;
  color: #FFFFFF;
}


.bg-green-accent4 {
  background-color: #00C853;
  color: #FFFFFF;
}


.bg-lightgreen {
  background-color: #8BC34A;
  color: #FFFFFF;
}


.bg-lightgreen-light5 {
  background-color: #F1F8E9;
  color: #FFFFFF;
}


.bg-lightgreen-light4 {
  background-color: #DCEDC8;
  color: #FFFFFF;
}


.bg-lightgreen-light3 {
  background-color: #C5E1A5;
  color: #FFFFFF;
}


.bg-lightgreen-light2 {
  background-color: #AED581;
  color: #FFFFFF;
}


.bg-lightgreen-light {
  background-color: #9CCC65;
  color: #FFFFFF;
}


.bg-lightgreen-light1 {
  background-color: #9CCC65;
  color: #FFFFFF;
}


.bg-lightgreen-dark {
  background-color: #7CB342;
  color: #FFFFFF;
}


.bg-lightgreen-dark1 {
  background-color: #7CB342;
  color: #FFFFFF;
}


.bg-lightgreen-dark2 {
  background-color: #689F38;
  color: #FFFFFF;
}


.bg-lightgreen-dark3 {
  background-color: #558B2F;
  color: #FFFFFF;
}


.bg-lightgreen-dark4 {
  background-color: #33691E;
  color: #FFFFFF;
}


.bg-lightgreen-accent {
  background-color: #CCFF90;
  color: #FFFFFF;
}


.bg-lightgreen-accent1 {
  background-color: #CCFF90;
  color: #FFFFFF;
}


.bg-lightgreen-accent2 {
  background-color: #B2FF59;
  color: #FFFFFF;
}


.bg-lightgreen-accent3 {
  background-color: #76FF03;
  color: #FFFFFF;
}


.bg-lightgreen-accent4 {
  background-color: #64DD17;
  color: #FFFFFF;
}


.bg-lime {
  background-color: #CDDC39;
  color: #FFFFFF;
}


.bg-lime-light5 {
  background-color: #F9FBE7;
  color: #FFFFFF;
}


.bg-lime-light4 {
  background-color: #F0F4C3;
  color: #FFFFFF;
}


.bg-lime-light3 {
  background-color: #E6EE9C;
  color: #FFFFFF;
}


.bg-lime-light2 {
  background-color: #DCE775;
  color: #FFFFFF;
}


.bg-lime-light {
  background-color: #D4E157;
  color: #FFFFFF;
}


.bg-lime-light1 {
  background-color: #D4E157;
  color: #FFFFFF;
}


.bg-lime-dark {
  background-color: #C0CA33;
  color: #FFFFFF;
}


.bg-lime-dark1 {
  background-color: #C0CA33;
  color: #FFFFFF;
}


.bg-lime-dark2 {
  background-color: #AFB42B;
  color: #FFFFFF;
}


.bg-lime-dark3 {
  background-color: #9E9D24;
  color: #FFFFFF;
}


.bg-lime-dark4 {
  background-color: #827717;
  color: #FFFFFF;
}


.bg-lime-accent {
  background-color: #F4FF81;
  color: #FFFFFF;
}


.bg-lime-accent1 {
  background-color: #F4FF81;
  color: #FFFFFF;
}


.bg-lime-accent2 {
  background-color: #EEFF41;
  color: #FFFFFF;
}


.bg-lime-accent3 {
  background-color: #C6FF00;
  color: #FFFFFF;
}


.bg-lime-accent4 {
  background-color: #AEEA00;
  color: #FFFFFF;
}


.bg-yellow {
  background-color: #fbbd08;
  color: #FFFFFF;
}


.bg-yellow-light5 {
  background-color: #FFFDE7;
  color: #FFFFFF;
}


.bg-yellow-light4 {
  background-color: #FFF9C4;
  color: #FFFFFF;
}


.bg-yellow-light3 {
  background-color: #FFF59D;
  color: #FFFFFF;
}


.bg-yellow-light2 {
  background-color: #FFF176;
  color: #FFFFFF;
}


.bg-yellow-light {
  background-color: #FFEE58;
  color: #FFFFFF;
}


.bg-yellow-light1 {
  background-color: #FFEE58;
  color: #FFFFFF;
}


.bg-yellow-plain {
  background-color: #fef2ced2;
  color: #fbbd08;
}


.bg-yellow-dark {
  background-color: #FDD835;
  color: #FFFFFF;
}


.bg-yellow-dark1 {
  background-color: #FDD835;
  color: #FFFFFF;
}


.bg-yellow-dark2 {
  background-color: #FBC02D;
  color: #FFFFFF;
}


.bg-yellow-dark3 {
  background-color: #F9A825;
  color: #FFFFFF;
}


.bg-yellow-dark4 {
  background-color: #F57F17;
  color: #FFFFFF;
}


.bg-yellow-accent {
  background-color: #FFFF8D;
  color: #FFFFFF;
}


.bg-yellow-accent1 {
  background-color: #FFFF8D;
  color: #FFFFFF;
}


.bg-yellow-accent2 {
  background-color: #FFFF00;
  color: #FFFFFF;
}


.bg-yellow-accent3 {
  background-color: #FFEA00;
  color: #FFFFFF;
}


.bg-yellow-accent4 {
  background-color: #FFD600;
  color: #FFFFFF;
}


.bg-amber {
  background-color: #FFC107;
  color: #FFFFFF;
}


.bg-amber-light5 {
  background-color: #FFF8E1;
  color: #FFFFFF;
}


.bg-amber-light4 {
  background-color: #FFECB3;
  color: #FFFFFF;
}


.bg-amber-light3 {
  background-color: #FFE082;
  color: #FFFFFF;
}


.bg-amber-light2 {
  background-color: #FFD54F;
  color: #FFFFFF;
}


.bg-amber-light {
  background-color: #FFCA28;
  color: #FFFFFF;
}


.bg-amber-light1 {
  background-color: #FFCA28;
  color: #FFFFFF;
}


.bg-amber-dark {
  background-color: #FFB300;
  color: #FFFFFF;
}


.bg-amber-dark1 {
  background-color: #FFB300;
  color: #FFFFFF;
}


.bg-amber-dark2 {
  background-color: #FFA000;
  color: #FFFFFF;
}


.bg-amber-dark3 {
  background-color: #FF8F00;
  color: #FFFFFF;
}


.bg-amber-dark4 {
  background-color: #FF6F00;
  color: #FFFFFF;
}


.bg-amber-accent {
  background-color: #FFE57F;
  color: #FFFFFF;
}


.bg-amber-accent1 {
  background-color: #FFE57F;
  color: #FFFFFF;
}


.bg-amber-accent2 {
  background-color: #FFD740;
  color: #FFFFFF;
}


.bg-amber-accent3 {
  background-color: #FFC400;
  color: #FFFFFF;
}


.bg-amber-accent4 {
  background-color: #FFAB00;
  color: #FFFFFF;
}


.bg-orange {
  background-color: #f37b1d;
  color: #FFFFFF;
}


.bg-orange-light5 {
  background-color: #FFF3E0;
  color: #FFFFFF;
}


.bg-orange-light4 {
  background-color: #FFE0B2;
  color: #FFFFFF;
}


.bg-orange-light3 {
  background-color: #FFCC80;
  color: #FFFFFF;
}


.bg-orange-light2 {
  background-color: #FFB74D;
  color: #FFFFFF;
}


.bg-orange-light {
  background-color: #FFA726;
  color: #FFFFFF;
}


.bg-orange-light1 {
  background-color: #FFA726;
  color: #FFFFFF;
}


.bg-orange-plain {
  background-color: #fde6d2;
  color: #f37b1d;
}


.bg-orange-dark {
  background-color: #FB8C00;
  color: #FFFFFF;
}


.bg-orange-dark1 {
  background-color: #FB8C00;
  color: #FFFFFF;
}


.bg-orange-dark2 {
  background-color: #F57C00;
  color: #FFFFFF;
}


.bg-orange-dark3 {
  background-color: #EF6C00;
  color: #FFFFFF;
}


.bg-orange-dark4 {
  background-color: #E65100;
  color: #FFFFFF;
}


.bg-orange-accent {
  background-color: #FFD180;
  color: #FFFFFF;
}


.bg-orange-accent1 {
  background-color: #FFD180;
  color: #FFFFFF;
}


.bg-orange-accent2 {
  background-color: #FFAB40;
  color: #FFFFFF;
}


.bg-orange-accent3 {
  background-color: #FF9100;
  color: #FFFFFF;
}


.bg-orange-accent4 {
  background-color: #FF6D00;
  color: #FFFFFF;
}


.bg-deep-orange {
  background-color: #FF5722;
  color: #FFFFFF;
}


.bg-deep-orange-light5 {
  background-color: #FBE9E7;
  color: #FFFFFF;
}


.bg-deep-orange-light4 {
  background-color: #FFCCBC;
  color: #FFFFFF;
}


.bg-deep-orange-light3 {
  background-color: #FFAB91;
  color: #FFFFFF;
}


.bg-deep-orange-light2 {
  background-color: #FF8A65;
  color: #FFFFFF;
}


.bg-deep-orange-light {
  background-color: #FF7043;
  color: #FFFFFF;
}


.bg-deep-orange-light1 {
  background-color: #FF7043;
  color: #FFFFFF;
}


.bg-deep-orange-dark {
  background-color: #F4511E;
  color: #FFFFFF;
}


.bg-deep-orange-dark1 {
  background-color: #F4511E;
  color: #FFFFFF;
}


.bg-deep-orange-dark2 {
  background-color: #E64A19;
  color: #FFFFFF;
}


.bg-deep-orange-dark3 {
  background-color: #D84315;
  color: #FFFFFF;
}


.bg-deep-orange-dark4 {
  background-color: #BF360C;
  color: #FFFFFF;
}


.bg-deep-orange-accent {
  background-color: #FF9E80;
  color: #FFFFFF;
}


.bg-deep-orange-accent1 {
  background-color: #FF9E80;
  color: #FFFFFF;
}


.bg-deep-orange-accent2 {
  background-color: #FF6E40;
  color: #FFFFFF;
}


.bg-deep-orange-accent3 {
  background-color: #FF3D00;
  color: #FFFFFF;
}


.bg-deep-orange-accent4 {
  background-color: #DD2C00;
  color: #FFFFFF;
}


.bg-brown {
  background-color: #a5673f;
  color: #FFFFFF;
}


.bg-brown-plain {
  background-color: #ede1d9;
  color: #a5673f;
}


.bg-brown-light5 {
  background-color: #EFEBE9;
  color: #FFFFFF;
}


.bg-brown-light4 {
  background-color: #D7CCC8;
  color: #FFFFFF;
}


.bg-brown-light3 {
  background-color: #BCAAA4;
  color: #FFFFFF;
}


.bg-brown-light2 {
  background-color: #A1887F;
  color: #FFFFFF;
}


.bg-brown-light {
  background-color: #8D6E63;
  color: #FFFFFF;
}


.bg-brown-light1 {
  background-color: #8D6E63;
  color: #FFFFFF;
}


.bg-brown-dark {
  background-color: #6D4C41;
  color: #FFFFFF;
}


.bg-brown-dark1 {
  background-color: #6D4C41;
  color: #FFFFFF;
}


.bg-brown-dark2 {
  background-color: #5D4037;
  color: #FFFFFF;
}


.bg-brown-dark3 {
  background-color: #4E342E;
  color: #FFFFFF;
}


.bg-brown-dark4 {
  background-color: #3E2723;
  color: #FFFFFF;
}


.bg-blue-grey {
  background-color: #607D8B;
  color: #FFFFFF;
}


.bg-blue-grey-light5 {
  background-color: #ECEFF1;
  color: #FFFFFF;
}


.bg-blue-grey-light4 {
  background-color: #CFD8DC;
  color: #FFFFFF;
}


.bg-blue-grey-light3 {
  background-color: #B0BEC5;
  color: #FFFFFF;
}


.bg-blue-grey-light2 {
  background-color: #90A4AE;
  color: #FFFFFF;
}


.bg-blue-grey-light {
  background-color: #78909C;
  color: #FFFFFF;
}


.bg-blue-grey-light1 {
  background-color: #78909C;
  color: #FFFFFF;
}


.bg-blue-grey-dark {
  background-color: #546E7A;
  color: #FFFFFF;
}


.bg-blue-grey-dark1 {
  background-color: #546E7A;
  color: #FFFFFF;
}


.bg-blue-grey-dark2 {
  background-color: #455A64;
  color: #FFFFFF;
}


.bg-blue-grey-dark3 {
  background-color: #37474F;
  color: #FFFFFF;
}


.bg-blue-grey-dark4 {
  background-color: #263238;
  color: #FFFFFF;
}


.bg-grey {
  background-color: #F4F4F5;
  color: #303133;
}


.bg-grey-plain {
  background-color: #e7ebed;
  color: #8799a3;
}


.bg-gray {
  background-color: #666666;
  color: #303133;
}


.bg-grey-light5 {
  background-color: #FAFAFA;
  color: #FFFFFF;
}


.bg-grey-light4 {
  background-color: #F5F5F5;
  color: #FFFFFF;
}


.bg-grey-light3 {
  background-color: #EEEEEE;
  color: #FFFFFF;
}


.bg-grey-light2 {
  background-color: #E0E0E0;
  color: #FFFFFF;
}


.bg-grey-light {
  background-color: #BDBDBD;
  color: #FFFFFF;
}


.bg-grey-light1 {
  background-color: #BDBDBD;
  color: #FFFFFF;
}


.bg-grey-dark {
  background-color: #757575;
  color: #FFFFFF;
}


.bg-grey-dark1 {
  background-color: #757575;
  color: #FFFFFF;
}


.bg-grey-dark2 {
  background-color: #616161;
  color: #FFFFFF;
}


.bg-grey-dark3 {
  background-color: #424242;
  color: #FFFFFF;
}


.bg-grey-dark4 {
  background-color: #212121;
  color: #FFFFFF;
}
