
/* ==================
          文本
 ==================== */

.font-xs {
  font-size: 10px;
}
.font-sm {
  font-size: 12px;
}
.font-df {
  font-size: 14px;
}

.text-df {
  font-size: 14px;
}

.text-lg {
  font-size: 16px;
}

.text-xl {
  font-size: 18px;
}

.text-xxl {
  font-size: 22px;
}

.text-sl {
  font-size: 20px;
}

.text-xsl {
  font-size: 30px;
}


.font-dff {
  font-size: 14px;
}

.font-mdd {
  font-size: 16px;
}

.font-mddd {
  font-size: 17px;
}

.font-lgg {
  font-size: 18px;
}

.font-lggg {
  font-size: 20px;
}

.font-xll {
  font-size: 22px;
}

.font-xxll {
  font-size: 28px;
}

.font-sll {
  font-size: 30px;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1d2 {
  line-height: 1.2;
}

.line-height-1d5 {
  line-height: 1.5;
}
