.font-mn {
  font-size: 10px;
}

.font-xs {
  font-size: 12px;
}

.font {
  font-size: 14px;
}

.font-df {
  font-size: 14px;
}

.font-md {
  font-size: 16px;
}

.font-mdd {
  font-size: 17px;
}

.font-lg {
  font-size: 18px;
}

.font-lgg {
  font-size: 20px;
}

.font-xl {
  font-size: 22px;
}

.font-xxl {
  font-size: 28px;
}

.font-sl {
  font-size: 30px;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1d2 {
  line-height: 1.2;
}

.line-height-1d5 {
  line-height: 1.5;
}
