
/* ==================
          文本
 ==================== */

.font-xs {
  font-size: 10px;
}

.font-sm {
  font-size: 12px;
}

.font-df {
  font-size: 14px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 18px;
}

.font-xl {
  font-size: 20px;
}

.font-xxl {
  font-size: 22px;
}

.font-sl {
  font-size: 24px;
}

.font-sxl {
  font-size: 26px;
}

.font-ssl {
  font-size: 30px;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1d2 {
  line-height: 1.2;
}

.line-height-1d5 {
  line-height: 1.5;
}
