.el-upload {
  --el-upload-dragger-padding-horizontal: 0;
  --el-upload-dragger-padding-vertical: 0;
}

.el-upload-dragger .el-icon--upload {
  margin-bottom: 0;
  line-height: 0;
}

.el-dialog__body {
  padding: 0;
}

.el-textarea__inner {
  box-shadow: none;
}

.el-dialog__header {
  padding: 10px;
}

.el-dialog__header > .el-dialog__title {
  font-size: 16px;
}

.el-dialog__headerbtn{
  height: 32px;
  width: 32px;
}
