.dialog_layout_control.el-dialog__wrapper {
  .el-dialog {
    .el-dialog__header {
      border-bottom: 1px #E8E8E8 solid;

      .el-dialog__title {
        font-size: 18px;
        font-weight: bold;
        color: #1F2329;
      }
    }

    .el-dialog__body {
      padding: 0px;
      //因会导致样式冲突，表格中的table也无法滚动，所以注释此代码
      /*.el-scrollbar {
        ::-webkit-scrollbar {
          width: 0;
          height: 0;
          top: 0;
        }
      }*/

      .el-form-item {
        margin-bottom: 10px;

        .el-form-item__label {
          display: block;
          width: 100% !important;
          text-align: left;
          height: 28px;
          font-size: 14px;
          color: #333333;
          font-weight: 600;
        }

        .el-form-item__content {
          margin-left: 0 !important;

          .el-input-number {
            width: 100%;

            .el-input__inner {
              text-align: left;
            }
          }

          //统一输入框size，mini样式问题，会存在多选下拉框有问题的情况，溢出，所以注释掉
         /* .el-input {
            height: 32px;

            .el-input__inner {
              height: 32px;
              line-height: 32px;
            }
          }*/

          .el-select {
            width: 100%;

            .el-input__suffix {
              height: 40px;
              line-height: 40px;
            }
          }

          .el-cascader {
            width: 100%;
          }

          .el-col-2 {
            text-align: center;
          }

          .el-textarea {
            margin-top: 5px;
          }
        }
      }

      .el-form-item--small {
        .el-form-item__content {
          .el-select {
            .el-input__suffix {
              height: 32px;
              line-height: 32px;
            }
          }
        }
      }
    }

    .el-dialog__footer {
      .el-button {
        padding: 9px 15px;
        font-size: 12px;
      }
    }
  }
}

.dialogBodyOne_area {
  margin: 0;

  .el-form-item {
    width: 100%;
    display: block;
    margin: 0;
  }
}

.dialogBodyTwo_area {
  margin-left: -15px;

  .el-form-item {
    width: calc(50% - 15px);
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;

    .el-col {
      .el-form-item {
        width: 100%;
        display: block;
        margin: 0;
      }
    }
  }
}
