.use-click {
    cursor: pointer;
}

.use-click:hover {
    opacity: 0.8;
}

.use-click:focus {
    opacity: 0.8;
}

.use-click:active {
    opacity: 0.6;
}

.use-hover {
    opacity: 0.8;
}

.use-active {
    opacity: 0.6;
}

.use-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
