.pt-nn {
  padding-top: 2px !important;
}

.pt-mn {
  padding-top: 3px !important;
}

.pt-mnn {
  padding-top: 4px !important;
}

.pt-xs {
  padding-top: 5px !important;
}

.pt-xss {
  padding-top: 8px !important;
}

.pt-sm {
  padding-top: 10px !important;
}

.pt-smm {
  padding-top: 15px !important;
}

.pt {
  padding-top: 20px !important;
}

.pt-df {
  padding-top: 20px !important;
}

.pt-dff {
  padding-top: 25px !important;
}

.pt-md {
  padding-top: 30px !important;
}

.pt-mdd {
  padding-top: 35px !important;
}

.pt-lg {
  padding-top: 40px !important;
}

.pt-lgg {
  padding-top: 45px !important;
}

.pt-xl {
  padding-top: 50px !important;
}

.pt-xll {
  padding-top: 55px !important;
}

.pt-xxl {
  padding-top: 60px !important;
}

.pt-xxll {
  padding-top: 65px !important;
}

.pt-sl {
  padding-top: 70px !important;
}

.pt-sll {
  padding-top: 75px !important;
}

.pt-ssl {
  padding-top: 80px !important;
}

.pt-ssll {
  padding-top: 85px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1vh {
  padding-top: 1vh !important;
}

.pt-2vh {
  padding-top: 2vh !important;
}

.pt-3vh {
  padding-top: 3vh !important;
}

.pt-4vh {
  padding-top: 4vh !important;
}

.pt-5vh {
  padding-top: 5vh !important;
}

.pt-6vh {
  padding-top: 6vh !important;
}

.pt-7vh {
  padding-top: 7vh !important;
}

.pt-8vh {
  padding-top: 8vh !important;
}

.pt-9vh {
  padding-top: 9vh !important;
}

.pt-10vh {
  padding-top: 10vh !important;
}

.pt-11vh {
  padding-top: 11vh !important;
}

.pt-12vh {
  padding-top: 12vh !important;
}

.pt-13vh {
  padding-top: 13vh !important;
}

.pt-14vh {
  padding-top: 14vh !important;
}

.pt-15vh {
  padding-top: 15vh !important;
}

.pt-16vh {
  padding-top: 16vh !important;
}

.pt-17vh {
  padding-top: 17vh !important;
}

.pt-18vh {
  padding-top: 18vh !important;
}

.pt-19vh {
  padding-top: 19vh !important;
}

.pt-20vh {
  padding-top: 20vh !important;
}

.pt-21vh {
  padding-top: 21vh !important;
}

.pt-22vh {
  padding-top: 22vh !important;
}

.pt-23vh {
  padding-top: 23vh !important;
}

.pt-24vh {
  padding-top: 24vh !important;
}

.pt-25vh {
  padding-top: 25vh !important;
}

.pt-26vh {
  padding-top: 26vh !important;
}

.pt-27vh {
  padding-top: 27vh !important;
}

.pt-28vh {
  padding-top: 28vh !important;
}

.pt-29vh {
  padding-top: 29vh !important;
}

.pt-30vh {
  padding-top: 30vh !important;
}

.pt-31vh {
  padding-top: 31vh !important;
}

.pt-32vh {
  padding-top: 32vh !important;
}

.pt-33vh {
  padding-top: 33vh !important;
}

.pt-34vh {
  padding-top: 34vh !important;
}

.pt-35vh {
  padding-top: 35vh !important;
}

.pt-36vh {
  padding-top: 36vh !important;
}

.pt-37vh {
  padding-top: 37vh !important;
}

.pt-38vh {
  padding-top: 38vh !important;
}

.pt-39vh {
  padding-top: 39vh !important;
}

.pt-40vh {
  padding-top: 40vh !important;
}

.pt-41vh {
  padding-top: 41vh !important;
}

.pt-42vh {
  padding-top: 42vh !important;
}

.pt-43vh {
  padding-top: 43vh !important;
}

.pt-44vh {
  padding-top: 44vh !important;
}

.pt-45vh {
  padding-top: 45vh !important;
}

.pt-46vh {
  padding-top: 46vh !important;
}

.pt-47vh {
  padding-top: 47vh !important;
}

.pt-48vh {
  padding-top: 48vh !important;
}

.pt-49vh {
  padding-top: 49vh !important;
}

.pt-50vh {
  padding-top: 50vh !important;
}

.pt-51vh {
  padding-top: 51vh !important;
}

.pt-52vh {
  padding-top: 52vh !important;
}

.pt-53vh {
  padding-top: 53vh !important;
}

.pt-54vh {
  padding-top: 54vh !important;
}

.pt-55vh {
  padding-top: 55vh !important;
}

.pt-56vh {
  padding-top: 56vh !important;
}

.pt-57vh {
  padding-top: 57vh !important;
}

.pt-58vh {
  padding-top: 58vh !important;
}

.pt-59vh {
  padding-top: 59vh !important;
}

.pt-60vh {
  padding-top: 60vh !important;
}

.pt-61vh {
  padding-top: 61vh !important;
}

.pt-62vh {
  padding-top: 62vh !important;
}

.pt-63vh {
  padding-top: 63vh !important;
}

.pt-64vh {
  padding-top: 64vh !important;
}

.pt-65vh {
  padding-top: 65vh !important;
}

.pt-66vh {
  padding-top: 66vh !important;
}

.pt-67vh {
  padding-top: 67vh !important;
}

.pt-68vh {
  padding-top: 68vh !important;
}

.pt-69vh {
  padding-top: 69vh !important;
}

.pt-70vh {
  padding-top: 70vh !important;
}

.pt-71vh {
  padding-top: 71vh !important;
}

.pt-72vh {
  padding-top: 72vh !important;
}

.pt-73vh {
  padding-top: 73vh !important;
}

.pt-74vh {
  padding-top: 74vh !important;
}

.pt-75vh {
  padding-top: 75vh !important;
}

.pt-76vh {
  padding-top: 76vh !important;
}

.pt-77vh {
  padding-top: 77vh !important;
}

.pt-78vh {
  padding-top: 78vh !important;
}

.pt-79vh {
  padding-top: 79vh !important;
}

.pt-80vh {
  padding-top: 80vh !important;
}

.pt-81vh {
  padding-top: 81vh !important;
}

.pt-82vh {
  padding-top: 82vh !important;
}

.pt-83vh {
  padding-top: 83vh !important;
}

.pt-84vh {
  padding-top: 84vh !important;
}

.pt-85vh {
  padding-top: 85vh !important;
}

.pt-86vh {
  padding-top: 86vh !important;
}

.pt-87vh {
  padding-top: 87vh !important;
}

.pt-88vh {
  padding-top: 88vh !important;
}

.pt-89vh {
  padding-top: 89vh !important;
}

.pt-90vh {
  padding-top: 90vh !important;
}

.pt-91vh {
  padding-top: 91vh !important;
}

.pt-92vh {
  padding-top: 92vh !important;
}

.pt-93vh {
  padding-top: 93vh !important;
}

.pt-94vh {
  padding-top: 94vh !important;
}

.pt-95vh {
  padding-top: 95vh !important;
}

.pt-96vh {
  padding-top: 96vh !important;
}

.pt-97vh {
  padding-top: 97vh !important;
}

.pt-98vh {
  padding-top: 98vh !important;
}

.pt-99vh {
  padding-top: 99vh !important;
}

.pt-100vh {
  padding-top: 100vh !important;
}

.pt-1p {
  padding-top: 1% !important;
}

.pt-2p {
  padding-top: 2% !important;
}

.pt-3p {
  padding-top: 3% !important;
}

.pt-4p {
  padding-top: 4% !important;
}

.pt-5p {
  padding-top: 5% !important;
}

.pt-6p {
  padding-top: 6% !important;
}

.pt-7p {
  padding-top: 7% !important;
}

.pt-8p {
  padding-top: 8% !important;
}

.pt-9p {
  padding-top: 9% !important;
}

.pt-10p {
  padding-top: 10% !important;
}

.pt-11p {
  padding-top: 11% !important;
}

.pt-12p {
  padding-top: 12% !important;
}

.pt-13p {
  padding-top: 13% !important;
}

.pt-14p {
  padding-top: 14% !important;
}

.pt-15p {
  padding-top: 15% !important;
}

.pt-16p {
  padding-top: 16% !important;
}

.pt-17p {
  padding-top: 17% !important;
}

.pt-18p {
  padding-top: 18% !important;
}

.pt-19p {
  padding-top: 19% !important;
}

.pt-20p {
  padding-top: 20% !important;
}

.pt-21p {
  padding-top: 21% !important;
}

.pt-22p {
  padding-top: 22% !important;
}

.pt-23p {
  padding-top: 23% !important;
}

.pt-24p {
  padding-top: 24% !important;
}

.pt-25p {
  padding-top: 25% !important;
}

.pt-26p {
  padding-top: 26% !important;
}

.pt-27p {
  padding-top: 27% !important;
}

.pt-28p {
  padding-top: 28% !important;
}

.pt-29p {
  padding-top: 29% !important;
}

.pt-30p {
  padding-top: 30% !important;
}

.pt-31p {
  padding-top: 31% !important;
}

.pt-32p {
  padding-top: 32% !important;
}

.pt-33p {
  padding-top: 33% !important;
}

.pt-34p {
  padding-top: 34% !important;
}

.pt-35p {
  padding-top: 35% !important;
}

.pt-36p {
  padding-top: 36% !important;
}

.pt-37p {
  padding-top: 37% !important;
}

.pt-38p {
  padding-top: 38% !important;
}

.pt-39p {
  padding-top: 39% !important;
}

.pt-40p {
  padding-top: 40% !important;
}

.pt-41p {
  padding-top: 41% !important;
}

.pt-42p {
  padding-top: 42% !important;
}

.pt-43p {
  padding-top: 43% !important;
}

.pt-44p {
  padding-top: 44% !important;
}

.pt-45p {
  padding-top: 45% !important;
}

.pt-46p {
  padding-top: 46% !important;
}

.pt-47p {
  padding-top: 47% !important;
}

.pt-48p {
  padding-top: 48% !important;
}

.pt-49p {
  padding-top: 49% !important;
}

.pt-50p {
  padding-top: 50% !important;
}

.pt-51p {
  padding-top: 51% !important;
}

.pt-52p {
  padding-top: 52% !important;
}

.pt-53p {
  padding-top: 53% !important;
}

.pt-54p {
  padding-top: 54% !important;
}

.pt-55p {
  padding-top: 55% !important;
}

.pt-56p {
  padding-top: 56% !important;
}

.pt-57p {
  padding-top: 57% !important;
}

.pt-58p {
  padding-top: 58% !important;
}

.pt-59p {
  padding-top: 59% !important;
}

.pt-60p {
  padding-top: 60% !important;
}

.pt-61p {
  padding-top: 61% !important;
}

.pt-62p {
  padding-top: 62% !important;
}

.pt-63p {
  padding-top: 63% !important;
}

.pt-64p {
  padding-top: 64% !important;
}

.pt-65p {
  padding-top: 65% !important;
}

.pt-66p {
  padding-top: 66% !important;
}

.pt-67p {
  padding-top: 67% !important;
}

.pt-68p {
  padding-top: 68% !important;
}

.pt-69p {
  padding-top: 69% !important;
}

.pt-70p {
  padding-top: 70% !important;
}

.pt-71p {
  padding-top: 71% !important;
}

.pt-72p {
  padding-top: 72% !important;
}

.pt-73p {
  padding-top: 73% !important;
}

.pt-74p {
  padding-top: 74% !important;
}

.pt-75p {
  padding-top: 75% !important;
}

.pt-76p {
  padding-top: 76% !important;
}

.pt-77p {
  padding-top: 77% !important;
}

.pt-78p {
  padding-top: 78% !important;
}

.pt-79p {
  padding-top: 79% !important;
}

.pt-80p {
  padding-top: 80% !important;
}

.pt-81p {
  padding-top: 81% !important;
}

.pt-82p {
  padding-top: 82% !important;
}

.pt-83p {
  padding-top: 83% !important;
}

.pt-84p {
  padding-top: 84% !important;
}

.pt-85p {
  padding-top: 85% !important;
}

.pt-86p {
  padding-top: 86% !important;
}

.pt-87p {
  padding-top: 87% !important;
}

.pt-88p {
  padding-top: 88% !important;
}

.pt-89p {
  padding-top: 89% !important;
}

.pt-90p {
  padding-top: 90% !important;
}

.pt-91p {
  padding-top: 91% !important;
}

.pt-92p {
  padding-top: 92% !important;
}

.pt-93p {
  padding-top: 93% !important;
}

.pt-94p {
  padding-top: 94% !important;
}

.pt-95p {
  padding-top: 95% !important;
}

.pt-96p {
  padding-top: 96% !important;
}

.pt-97p {
  padding-top: 97% !important;
}

.pt-98p {
  padding-top: 98% !important;
}

.pt-99p {
  padding-top: 99% !important;
}

.pt-100p {
  padding-top: 100% !important;
}

.pt-1px {
  padding-top: 1px !important;
}

.pt-2px {
  padding-top: 2px !important;
}

.pt-3px {
  padding-top: 3px !important;
}

.pt-4px {
  padding-top: 4px !important;
}

.pt-5px {
  padding-top: 5px !important;
}

.pt-6px {
  padding-top: 6px !important;
}

.pt-7px {
  padding-top: 7px !important;
}

.pt-8px {
  padding-top: 8px !important;
}

.pt-9px {
  padding-top: 9px !important;
}

.pt-10px {
  padding-top: 10px !important;
}

.pt-11px {
  padding-top: 11px !important;
}

.pt-12px {
  padding-top: 12px !important;
}

.pt-13px {
  padding-top: 13px !important;
}

.pt-14px {
  padding-top: 14px !important;
}

.pt-15px {
  padding-top: 15px !important;
}

.pt-16px {
  padding-top: 16px !important;
}

.pt-17px {
  padding-top: 17px !important;
}

.pt-18px {
  padding-top: 18px !important;
}

.pt-19px {
  padding-top: 19px !important;
}

.pt-20px {
  padding-top: 20px !important;
}

.pt-21px {
  padding-top: 21px !important;
}

.pt-22px {
  padding-top: 22px !important;
}

.pt-23px {
  padding-top: 23px !important;
}

.pt-24px {
  padding-top: 24px !important;
}

.pt-25px {
  padding-top: 25px !important;
}

.pt-26px {
  padding-top: 26px !important;
}

.pt-27px {
  padding-top: 27px !important;
}

.pt-28px {
  padding-top: 28px !important;
}

.pt-29px {
  padding-top: 29px !important;
}

.pt-30px {
  padding-top: 30px !important;
}

.pt-31px {
  padding-top: 31px !important;
}

.pt-32px {
  padding-top: 32px !important;
}

.pt-33px {
  padding-top: 33px !important;
}

.pt-34px {
  padding-top: 34px !important;
}

.pt-35px {
  padding-top: 35px !important;
}

.pt-36px {
  padding-top: 36px !important;
}

.pt-37px {
  padding-top: 37px !important;
}

.pt-38px {
  padding-top: 38px !important;
}

.pt-39px {
  padding-top: 39px !important;
}

.pt-40px {
  padding-top: 40px !important;
}

.pt-41px {
  padding-top: 41px !important;
}

.pt-42px {
  padding-top: 42px !important;
}

.pt-43px {
  padding-top: 43px !important;
}

.pt-44px {
  padding-top: 44px !important;
}

.pt-45px {
  padding-top: 45px !important;
}

.pt-46px {
  padding-top: 46px !important;
}

.pt-47px {
  padding-top: 47px !important;
}

.pt-48px {
  padding-top: 48px !important;
}

.pt-49px {
  padding-top: 49px !important;
}

.pt-50px {
  padding-top: 50px !important;
}

.pt-55px {
  padding-top: 55px !important;
}

.pt-60px {
  padding-top: 60px !important;
}

.pt-65px {
  padding-top: 65px !important;
}

.pt-70px {
  padding-top: 70px !important;
}

.pt-75px {
  padding-top: 75px !important;
}

.pt-80px {
  padding-top: 80px !important;
}

.pt-85px {
  padding-top: 85px !important;
}

.pt-90px {
  padding-top: 90px !important;
}

.pt-95px {
  padding-top: 95px !important;
}

.pt-100px {
  padding-top: 100px !important;
}

.pt-110px {
  padding-top: 110px !important;
}

.pt-120px {
  padding-top: 120px !important;
}

.pt-130px {
  padding-top: 130px !important;
}

.pt-140px {
  padding-top: 140px !important;
}

.pt-150px {
  padding-top: 150px !important;
}

.pt-160px {
  padding-top: 160px !important;
}

.pt-170px {
  padding-top: 170px !important;
}

.pt-180px {
  padding-top: 180px !important;
}

.pt-190px {
  padding-top: 190px !important;
}

.pt-200px {
  padding-top: 200px !important;
}

.pt-210px {
  padding-top: 210px !important;
}

.pt-220px {
  padding-top: 220px !important;
}

.pt-230px {
  padding-top: 230px !important;
}

.pt-240px {
  padding-top: 240px !important;
}

.pt-250px {
  padding-top: 250px !important;
}

.pt-260px {
  padding-top: 260px !important;
}

.pt-270px {
  padding-top: 270px !important;
}

.pt-280px {
  padding-top: 280px !important;
}

.pt-290px {
  padding-top: 290px !important;
}

.pt-300px {
  padding-top: 300px !important;
}

.pt-310px {
  padding-top: 310px !important;
}

.pt-320px {
  padding-top: 320px !important;
}

.pt-330px {
  padding-top: 330px !important;
}

.pt-340px {
  padding-top: 340px !important;
}

.pt-350px {
  padding-top: 350px !important;
}

.pt-360px {
  padding-top: 360px !important;
}

.pt-370px {
  padding-top: 370px !important;
}

.pt-380px {
  padding-top: 380px !important;
}

.pt-390px {
  padding-top: 390px !important;
}

.pt-400px {
  padding-top: 400px !important;
}

.pt-410px {
  padding-top: 410px !important;
}

.pt-420px {
  padding-top: 420px !important;
}

.pt-430px {
  padding-top: 430px !important;
}

.pt-440px {
  padding-top: 440px !important;
}

.pt-450px {
  padding-top: 450px !important;
}

.pt-460px {
  padding-top: 460px !important;
}

.pt-470px {
  padding-top: 470px !important;
}

.pt-480px {
  padding-top: 480px !important;
}

.pt-490px {
  padding-top: 490px !important;
}

.pt-500px {
  padding-top: 500px !important;
}

.pt-600px {
  padding-top: 600px !important;
}

.pt-700px {
  padding-top: 700px !important;
}

.pt-800px {
  padding-top: 800px !important;
}

.pt-900px {
  padding-top: 900px !important;
}

.pt-1000px {
  padding-top: 1000px !important;
}
